/* _WIDTH CHANGE */


#bd{background:#FFF url(../gr/body/fauxColumnBG.png) repeat-y -381px 0px;}
#yui-main div.yui-b,#primary{
    float:right;
    width:708px;
    margin:0;padding:0;
}
#secondary{
    width:218px;
}

/*
    change the width of this image
    should be 2px wider than width of #secondary   
*/
#rounded-top{
    background:#DCDCDC url(../gr/sidebar/sidebar-rounded-top.png) no-repeat left top;
    height:5px;
    position:absolute;
    top:-4px;
    left:-1px;
    width:220px;
}

/*
    change the width of this image
    should be 14px narrower than width of #secondary   
*/
#home-rounded-top{
    background:url(../gr/sidebar/home-rounded-top.png) no-repeat left top;
    height:4px;
    position:absolute;
    top:6px;
    left:7px;
    width:205px;
}
#home-rounded-top.activehover{
    background:url(../gr/sidebar/home-rounded-top.png) no-repeat 0 -5px;
}
#home-rounded-top.homeactive{
    background:url(../gr/sidebar/home-rounded-top.png) no-repeat 0 0;
}
#home-rounded-top.inactivehover{
    background:url(../gr/sidebar/home-rounded-top.png) no-repeat 0 -15px;
}
#home-rounded-top.inactive{
    background:url(../gr/sidebar/home-rounded-top.png) no-repeat 0 -10px;
}
