.project
.pydevproject
*.pyc
development.ini
_development.ini
production.ini
test.ini
*.tmp*
data
*.db
Wurdig.egg-info
temp.txt*
posts.txt*
*.egg
egg-cache
paster.*
wurdig/public/cs520/
wurdig/public/learn/
wurdig/public/play/
wurdig/public/talks/
wurdig/public/teacher/
