<%def name="css()">
    ${h.stylesheet_link(h.url_for('/css/yui-2.7.0.css?%s') % h.mtime('/css/yui-2.7.0.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/utils.css?%s') % h.mtime('/css/utils.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/admin/css/base.css?%s') % h.mtime('/admin/css/base.css'), media="screen, projection")}
    <!--[if IE 6]>
        ${h.stylesheet_link(h.url_for('/admin/css/ie6.css?%s') % h.mtime('/admin/css/ie6.css'), media="screen, projection")}
    <![endif]--> 
    ${h.stylesheet_link(h.url_for('/admin/css/print.css?%s') % h.mtime('/admin/css/print.css'), media="print")}
</%def>

<%def name="flash()">
    % if session.has_key('flash'):
        <div id="flash">
            <p class="flash">${session.get('flash')}</p>
        </div>
        <%
            del session['flash']
            session.save()
        %>
    % endif
</%def>

<%def name="js()">
    ${h.javascript_link(h.url_for('/javascripts/jquery.min.js?%s') % h.mtime("/javascripts/jquery.min.js"), 
                        h.url_for('/admin/js/admin.js?%s') % h.mtime("/admin/js/admin.js"),
                        h.url_for('/javascripts/utils.js?%s') % h.mtime("/javascripts/utils.js"))}
</%def>

<%def name="editor()">
    ${h.javascript_link(h.url_for('/admin/js/tinymce/jscripts/tiny_mce/tiny_mce.js'))}
    <script type="text/javascript">
        tinyMCE.init({
			mode : "textareas",
            
            // General options
			theme : "advanced",
			plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

			// Theme options
			theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull",
			theme_advanced_buttons2 : "bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,image,code,fullscreen",
			theme_advanced_buttons3 : "",
			theme_advanced_toolbar_location : "top",
			theme_advanced_toolbar_align : "left",
			theme_advanced_resizing : true
        });
    </script>
</%def>
