<%def name="css()">
    ${h.stylesheet_link(h.url_for('/css/yui-2.7.0.css?%s') % h.mtime('/css/yui-2.7.0.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/utils.css?%s') % h.mtime('/css/utils.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/admin/css/tools.css?%s') % h.mtime('/admin/css/tools.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/admin/css/base.css?%s') % h.mtime('/admin/css/base.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/admin/css/custom.css?%s') % h.mtime('/admin/css/custom.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/admin/css/redmond/jquery-ui-1.7.2.custom.css'), media="screen, projection")}
    <!--[if IE 6]>
        ${h.stylesheet_link(h.url_for('/admin/css/ie6.css?%s') % h.mtime('/admin/css/ie6.css'), media="screen, projection")}
    <![endif]--> 
    ${h.stylesheet_link(h.url_for('/admin/css/print.css?%s') % h.mtime('/admin/css/print.css'), media="print")}
</%def>

<%def name="flash()">
    % if session.has_key('flash'):
        <div id="flash">
            <p class="flash success"><strong>${session.get('flash')}</strong></p>
        </div>
        <%
            del session['flash']
            session.save()
        %>
    % endif
    <div id="form-errors"></div>
</%def>

<%def name="js()">
    <%
        from pylons import app_globals
    %>
    ${h.javascript_link(h.url_for(controller='js', action='translations', stamp=app_globals.current_version),
                        h.url_for('/javascripts/jquery.min.js?%s') % h.mtime("/javascripts/jquery.min.js"), 
                        h.url_for('/admin/js/admin.js?%s') % h.mtime("/admin/js/admin.js"),
                        h.url_for('/javascripts/utils.js?%s') % h.mtime("/javascripts/utils.js"))}
</%def>

<%def name="tooltip()">
    ${h.javascript_link(h.url_for('/admin/js/jquery/jquery.tooltip.min.js'))}
    <script>
        jQuery(document).ready(function() {
            jQuery("a.tip").tooltip({ 
                bodyHandler: function() { 
                    return jQuery(jQuery(this).attr("href")).html(); 
                }, 
                showURL: false 
            });
        });
    </script>
</%def>