<%
    from pylons.i18n.translation import _
%>

<%def name="tag_list(tags)">
    % if len(tags):
        ${h.literal(h.post_tags(tags))}
    % endif
</%def>

<%def name="paginated()">
    % if len(c.paginator):
    
        % if request.urlvars['action'] != 'home':
        <p class="paginator_links paginator_links_long">${ c.paginator.pager('$link_first $link_previous $first_item %s $last_item %s $item_count $link_next $link_last' % (_('to'), _('of')), page_param='posts_page')}</p>
        % endif
        
        <div class="wurdig-entries">
            % for post in c.paginator:
                ${display_post(post)}
            % endfor
        </div>
        <p class="paginator_links paginator_links_short">${ c.paginator.pager(format='~2~', page_param='posts_page') }</p>
    % else:
        <p>
            ${_('No posts were found that matched your request.')}
        </p>
    % endif
</%def>

<%def name="display_post(post)">
    <h2>
        ${h.link_to(
            post.title,
            h.url_for(controller='post', 
                      action='view', 
                      year=post.posted_on.strftime('%Y'), 
                      month=post.posted_on.strftime('%m'), 
                      slug=post.slug)
        )}
    </h2>
    <p class="wurdig-entry-date">
        ${h.literal(h.abbr_datetime(post.posted_on))},
        <span class="wurdig-entry-comments">
            % if len(post.comments):
                ${h.link_to(
                    h.plural(len(post.comments), _('Comment'), _('Comments')),
                    h.url_for(controller='post', 
                              action='view', 
                              year=post.posted_on.strftime('%Y'), 
                              month=post.posted_on.strftime('%m'), 
                              slug=post.slug, 
                              anchor=u'comments')
                )}
            % else:
                ${h.link_to(
                    _('No Comments'),
                    h.url_for(controller='post', 
                              action='view', 
                              year=post.posted_on.strftime('%Y'), 
                              month=post.posted_on.strftime('%m'), 
                              slug=post.slug, 
                              anchor=u'leave-comment')
                )}
            % endif
        </span>
    </p>
    <div class="wurdig-entry">
        <div class="wurdig-entry-content">
            
            % if '<!--more-->' in post.content:
                ${h.literal(h.chop_at(post.content, '<!--more-->'))}
                <p class="more">
                    ${h.link_to(
                        _(u'+ more'),
                        h.url_for(controller='post', 
                                  action='view', 
                                  year=post.posted_on.strftime('%Y'), 
                                  month=post.posted_on.strftime('%m'), 
                                  slug=post.slug,
                                  anchor=u'more')
                    )}
                </p>
            % else:
                ${h.literal(post.content)}
            % endif
            
            <p class="wurdig-entry-meta">
                ${tag_list(post.tags)}      
                % if h.auth.authorized(h.auth.is_valid_user):
                    <span class="wurdig-admin">
                        <strong>${_('Admin')}</strong> : 
                        ${h.link_to(
                            _('Edit This Post'),
                            h.url_for(controller='post', action='edit', id=unicode(post.id))
                        )}
                    </span>
                % endif
            </p>
        </div>
    </div>
</%def>

<%def name="admin_list(data)">
    % if len(data):
        <p class="paginator_links paginator_links_long">${ data.pager('$link_first $link_previous $first_item %s $last_item %s $item_count $link_next $link_last' % (_('to'), _('of')))}</p>
        <table class="paginator">
            <thead>
                <tr>
                    <th>${_('Post Title')}</th>
                    <th>${_('Posted')}</th>
                    <th>${_('Comments')}</th>
                    <th>${_('Action')}</th>
                </tr>
            </thead>
            <tbody>
                % for post in data:
                    <tr class="${post.id}">
                        <td>
                            % if not post.draft:
                                ${h.link_to(
                                    h.truncate(post.title),
                                    h.url_for(controller='post', 
                                          action='view', 
                                          year=post.posted_on.strftime('%Y'), 
                                          month=post.posted_on.strftime('%m'), 
                                          slug=unicode(post.slug))
                                )}
                            % else:
                                ${h.truncate(post.title)}
                            % endif
                        </td>
                        <td>
                            % if post.draft:
                                ${_('Draft')}
                            % else:
                                ${h.literal(h.abbr_datetime(post.posted_on))}
                            % endif
                        </td>
                        <td>${len(post.comments)}</td>
                        <td>
                            ${h.link_to(
                                _('Edit'),
                                h.url_for(controller='post', action='edit', id=unicode(post.id))
                            )} | 
                            ${h.link_to(
                                _('Delete'),
                                h.url_for(controller='post', action='delete_confirm', id=unicode(post.id))
                            )}
                        </td>
                    </tr>
                % endfor
            </tbody>
        </table>
        <p class="paginator_links paginator_links_short">${ data.pager(format='~2~', page_param='posts_page') }</p>
    % endif
</%def>