<%def name="tag_list(tags)">
    % if len(tags):
        <span class="post-tags">
            <strong>Tags</strong> : 
            <% _tags = [] %>
            % for tag in tags:
                <%
                    _tags.append(h.link_to(
                        tag.name,
                        h.url_for(controller='tag', action='archive', slug=tag.slug)
                    ))
                %>
            % endfor
            ${h.literal(', '.join(_tags))}
        </span>
    % endif
</%def>