<%!
import wurdig.model as model
import wurdig.model.meta as meta
%>

<%def name="doctype()">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
</%def>

<%def name="meta()">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="author" content="Jason R. Leveille">
    <meta name="copyright" content="http://jasonleveille.com">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="ICBM" content="37.0625, -95.677068">
    <meta name="geo.position" content="37.0625, -95.677068">
    <meta name="geo.placename" content="Frederick, Maryland">
    <meta name="geo.region" content="US-MD">
    <meta name="geo.country" content="US">
    ${h.auto_discovery_link(h.url_for(controller='post', action='feeds'), feed_type='atom', title='Recent Posts')}
    ${h.auto_discovery_link(h.url_for(controller='comment', action='feeds'), feed_type='atom', title='Recent Comments')}
</%def>

<%def name="css()">
    ${h.stylesheet_link(h.url_for('/css/reset.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/text.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/960.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/base.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/print.css'), media="print")}
</%def>

<%def name="header()">
    <div id="header">
        <div class="container_16">
            <div class="grid_16">
                <div class="grid_8 alpha">
                    <h1><a href="${h.url_for(controller='post', action='home')}" title="Home">Jason Leveille's Blog</a></h1>
                    <p>Something witty here</p>
                </div>
                <div class="grid_8 omega">
                    <div id="subscribe" class="grid_4 alpha">
                        <p>Subscribe</p>
                    </div>
                    <div id="search" class="grid_4 alpha">
                        <p>Search</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</%def>

<%def name="primary_nav(loc=None)">
    <div id="primary-nav" class="grid_16">
        <ul>
            <%
                (n_home, n_about, n_teaching) = (None, None, None)
                if loc == 'home':
                    n_home = 'active'
                elif loc == 'about':
                    n_about = 'active'
                elif loc == 'teaching':
                    n_teaching = 'active'
            %>
            <li class="grid_4 alpha ${n_home}">
                <a href="${h.url_for(controller='post', action='home')}" 
                    title="Home">
                    Home <span>Some content here</span>
                </a>
            </li>
            <li class="grid_4 ${n_about}">
                <a href="${h.url_for(controller='page', action='view', slug='about')}" 
                    title="About">
                    About <span>About me and this site</span>
                </a>
            </li>
            <li class="grid_4 ${n_teaching}">
                <a href="${h.url_for(controller='page', action='view', slug='teaching')}" 
                    title="Teaching">
                    Teaching <span>My former life as a teacher</span>
                </a>
            </li>
            <li class="grid_4 omega">
                <a href="/lifestream" title="Lifestream">Lifestream <span>Some content here</span></a>
            </li> 
        </ul>
    </div>
</%def>

<%def name="secondary_content()">
    <div id="secondary-content">
        <div class="container_12">
            <div class=grid_12>
                <div id="delicious-bookmarks" class="grid_4 alpha">
                    <h4>Bookmarks</h4>
                    <ul>
                        <li>Bookmark</li>
                        <li>Bookmark</li>
                        <li>Bookmark</li>
                        <li>Bookmark</li>
                    </ul>
                </div>
                <div id="flickr-stream" class="grid_4">
                    <h4>Public Flickr Stream</h4>
                    <p>Content</p>
                </div>
                <div id="blogroll" class="grid_4 omega">
                    <h4>Blogroll</h4>
                    <p>Content</p>
                </div>
            </div>
        </div>
    </div>
</%def>

<%def name="twitter_updates()">
    <div class="twitter-updates">
        <h4>Twitter Updates</h4>
        <ul>
            <li>Update</li>
            <li>Update</li>
            <li>Update</li>
            <li>Update</li>
        </ul>
    </div>
</%def>

<%def name="tags()">
    <%
        tags = getattr(c, "tags", None)
        if tags is None:
            tag_q = meta.Session.query(model.Tag)
            tags = tag_q.all()
    %>
    % if len(tags):
        <div class="tags">
            <h4>Tags</h4>
            <ul class="tag-cloud">
                % for tag in tags:
                    <li class="tag-link-${str(tag.post_count)}">
                        ${h.link_to(
                            tag.name,
                            h.url_for(controller='tag', action='archive', slug=tag.slug)
                        )}
                    </li>
                % endfor
            </ul>
        </div>
    % endif
</%def>

<%def name="recent_comments()">
    <%
        comments_q = meta.Session.query(model.Comment).filter(model.Comment.approved==True)
        comments_q = comments_q.order_by(model.comments_table.c.created_on.desc())
        comments_q = comments_q.join(model.Post).limit(5)
    %>
    % if comments_q is not None:
        <div class="recent-comments">
            <h4>Recent Comments</h4>
            <ul>
                % for comment in comments_q:
                    % if post is not None:
                        <li>
                            <span>
                                % if comment.url is not None:
                                    ${h.link_to(
                                        h.literal(comment.name),
                                        h.literal(comment.url)
                                    )} 
                                % else:
                                    h.literal(comment.name)
                                % endif
                                wrote:  
                            </span>
                            <span>
                                ${h.truncate(h.strip_tags(comment.content), 70)}
                            </span>
                            <span>
                                Posted in: 
                                ${h.link_to(
                                    comment.posts.title,
                                    h.url_for(
                                        controller='post', 
                                        action='view', 
                                        year=comment.posts.posted_on.strftime('%Y'), 
                                        month=comment.posts.posted_on.strftime('%m'), 
                                        slug=comment.posts.slug,
                                        anchor=u"comment-" + str(comment.id)
                                    )
                                )}
                            </span>
                        </li>
                    % endif
                % endfor
            </ul>
        </div>
    % endif
</%def>

<%def name="development_stream()">
    <div class="development-stream">
        <h4>Development Stream</h4>
        <ul>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
        </ul>
    </div>
</%def>

<%def name="footer()">
    <div id="footer">
        <div class="container_12">
            <div class="grid_12">
                <div class="grid_6 alpha">
                    <p>Content</p>
                </div>
                <div class="grid_6 omega">
                    <p>Content</p>
                </div>
            </div>
        </div>
    </div>
</%def>

<%def name="flash()">
    % if session.has_key('flash'):
    <div id="flash"><p>${session.get('flash')}</p></div>
    <%
        del session['flash']
        session.save()
    %>
    % endif
</%def>

<%def name="js()">
    <script type="text/javascript">
        var djConfig = {
            isDebug:false, 
            parseOnLoad:true
        };
    </script>
    ${h.javascript_link('http://ajax.googleapis.com/ajax/libs/dojo/1.2/dojo/dojo.xd.js', 
                         h.url_for('/javascripts/application.js'))}
</%def>
