<%def name="doctype()">
    <!DOCTYPE html>
</%def>

<%def name="meta()">
    <link rel="openid2.provider" href="https://myvidoop.com/openid">
    <link rel="openid.server" href="https://myvidoop.com/openid">
    <link rel="openid2.local_id" href="http://leveillej.myvidoop.com/">
    <link rel="openid.delegate" href="http://leveillej.myvidoop.com/">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    
    <meta http-equiv="X-XRDS-Location" content="http://leveillej.myvidoop.com/xrds">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
    <meta http-equiv="Content-Language" content="en-us">
    
    <meta name="author" content="Jason Leveille">
    <meta name="copyright" content="Jason Leveille, 2009">
    <meta name="designed_by" content="Jason Leveille, 2009">
    <meta name="description" content="Topics in Web Application Development">
    <meta name="rating" content="general">
    <meta name="robots" content="all, index, follow">
    
    <meta name="ICBM" content="37.0625, -95.677068">
    <meta name="geo.position" content="37.0625, -95.677068">
    <meta name="geo.placename" content="Frederick, Maryland">
    <meta name="geo.region" content="US-MD">
    <meta name="geo.country" content="US">
    
    % if h.wurdig_use_externalposts_feed():
        <link href="${h.wurdig_external_posts_feed()}" rel="alternate" title="Recent Posts" type="application/atom+xml">
    % else:
        <link href="${h.url_for(controller='feed', action='posts_feed')}" rel="alternate" title="Recent Posts" type="application/atom+xml">
    % endif

    <link href="${h.url_for(controller='feed', action='comments_feed')}" rel="alternate" title="Recent Comments" type="application/atom+xml">
</%def>

<%def name="css()">
    <link href="${h.url_for('/css/print.css')}?${h.mtime('/css/print.css')}" media="print" rel="stylesheet" type="text/css">
    % if c.use_minified_assets:
        ${h.stylesheet_link('/css/%s' % config['wurdig.minified_css'])}
    % else:
        ${h.stylesheet_link(*h.load_stylesheet_assets())}
    %endif
</%def>

<%def name="header()">
    <div><a id="skip" href="#yui-main">Jump to Content</a></div>
    <h1><a href="${h.url_for(controller='post', action='home')}" title="Home">${title()}</a></h1>
    % if h.wurdig_use_subtitle():
        <p class="wurdig-tagline">${h.wurdig_subtitle()}</p>
    % endif
</%def>

<%def name="random_header_img()">
    background: url('/images/headers/${h.random_header()}') no-repeat center center
</%def>

<%def name="title()">
    ${h.wurdig_title()}
</%def>

<%def name="primary_nav(loc=None)">
    <div id="wurdig-primary-nav">
        <ul role="navigation">
            <%
                (n_home, n_about, n_teaching, wurdig_active) = (None, None, None, 'wurdig-active')
                if loc == 'home':
                    n_home = wurdig_active
                if loc == 'about':
                    n_about = wurdig_active
                elif loc == 'teaching':
                    n_teaching = wurdig_active
            %>
            <li class="${n_home} wurdig-nav-first">
                <a href="${h.url_for(controller='post', action='home')}" 
                    title="Home" class="${n_home}">
                    Home
                </a>
            </li>
            <li class="${n_about}">
                <a href="${h.url_for(controller='page', action='view', slug='about')}" 
                    title="About This Site" class="${n_about}">
                    About
                </a>
            </li>
            <li class="${n_teaching}">
                <a href="${h.url_for(controller='page', action='view', slug='teaching')}" 
                    title="My Former Teaching Life" class="${n_teaching}">
                    Teaching
                </a>
            </li>
            % if h.wurdig_display_contact_email():
                <li>
                    ${h.mail_to(h.wurdig_contact_email(), "Contact", encode = "hex")}
                </li>
            % endif
            % if h.auth.authorized(h.auth.is_valid_user):
                <li>
                    <a href="${h.url_for(controller='account', action='signin')}" 
                        title="Administrator">
                        Admin
                    </a>
                </li>
            % endif
            % if h.auth.authorized(h.auth.is_valid_user) and request.urlvars['action'] != 'signout':
                <li class="wurdig-nav-last">
                    <a href="${h.url_for(controller='account', action='signout')}" 
                        title="Sign Out">
                        Sign Out
                    </a>
                </li>
            % else:
                <li class="wurdig-nav-last">
                    <a href="${h.url_for(controller='account', action='signin')}" 
                        title="Sign In">
                        Sign In
                    </a>
                </li>
            % endif
        </ul>
    </div>
</%def>

<%def name="search_form(searchq=None)">
    <div id="wurdig-search">
        % if h.wurdig_use_googlesearch():
            <form action="/search" id="cse-search-box">
                <div>
                    <input type="hidden" name="cx" value="${h.wurdig_googlesearch_key()}">
                    <input type="hidden" name="cof" value="FORID:9">
                    <input type="hidden" name="ie" value="UTF-8">
                    <input type="text" name="q" id="cse-search-q" size="31" value="${searchq}">
                    <input type="submit" name="sa" value="Search">
                </div>
            </form>
            <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
        % endif
    </div>
</%def>

<%def name="subscribe()">
    <div id="wurdig-subscribe">
        <h4>Feeds</h4>
        <ul>
            <li>
                % if h.wurdig_use_externalposts_feed():
                    <a href="${h.wurdig_external_posts_feed()}"
                        title="Blog">
                        Blog
                    </a>
                % else:
                    <a href="${h.url_for(controller='feed', action='posts_feed')}"
                        title="Blog">
                        Blog
                    </a>
                % endif
            </li>
            <li>
                <a href="${h.url_for(controller='feed', action='comments_feed')}"
                    title="Comments">
                    Comments
                </a>
            </li>
            % if request.urlvars['controller'] == 'post' and \
                 request.urlvars['action'] == 'view':
                % if c.post.comments_allowed:
                    <li>
                        <a href="${h.url_for(
                                    controller='feed', 
                                    action='post_comment_feed', 
                                    post_id=unicode(c.post.id)
                                )}"
                            title="${c.post.title} Comments Feed">
                            Post Comments
                        </a>
                    </li>
                % endif
            % endif
            % if request.urlvars['controller'] == 'tag' and \
                 request.urlvars['action'] == 'archive':
                <li>
                    <a href="${h.url_for(
                                controller='feed', 
                                action='tag_feed', 
                                slug=unicode(c.tag.slug)
                            )}"
                        title="Posts tagged ${c.tagname}">
                        ${c.tagname}
                    </a>
                </li>
            % endif
        </ul>
    </div>
</%def>

<%def name="blogroll()" cached="True" cache_timeout="86400" cache_key="blogroll" cache_type="file">
    <div id="wurdig-blogroll" class="wurdig-secondary-list">
        <h4>Blogroll</h4>
        <ul>
            <li><a href="http://www.456bereastreet.com/" rel="external" title="456 Berea Street">456 Berea Street</a></li>
            <li><a href="http://benramsey.com/" rel="external" title="Ben Ramsey">Ben Ramsey</a></li>
            <li><a href="http://jchrisa.net" rel="external" title="Daytime Running Lights">Daytime Running Lights</a></li>
            <li><a href="http://www.eflorenzano.com" rel="external" title="Eric Florenzano">Eric Florenzano</a></li>
            <li><a href="http://blog.ianbicking.org/" rel="external" title="Ian Bicking">Ian Bicking</a></li>
            <li><a href="http://shiflett.org/" rel="external" title="Chris Shiflett">Chris Shiflett</a></li>
            <li><a href="http://simonwillison.net/" rel="external" title="Simon Willison">Simon Willison</a></li>
            <li><a href="http://teachmetheweb.org/" rel="external" title="Teach Me the Web">Teach Me the Web</a></li>
            <li><a href="http://www.travisswicegood.com/index.php" rel="external" title="Travis Swicegood">Travis Swicegood</a></li>
            <li><a href="http://zgordon.org/" rel="external" title="Zac Gordon">Zac Gordon</a></li>
        </ul>
    </div>
</%def>

<%def name="twitter_updates()" cached="True" cache_timeout="3600" cache_key="twitter_feed" cache_type="memory">
    ${h.literal(h.twitter())}
</%def>

<%def name="tags()" cached="True" cache_timeout="43200" cache_key="tag_cloud" cache_type="memory">
    ${h.literal(h.cloud())}
</%def>

<%def name="recent_comments()" cached="True" cache_timeout="3600" cache_key="recent_comments" cache_type="memory">
    ${h.literal(h.recent_comments())}
</%def>

<%def name="delicious()" cached="True" cache_timeout="43200" cache_key="delicious_feed" cache_type="memory">
    ${h.literal(h.delicious())}
</%def>

<%def name="flickr()" cached="True" cache_timeout="43200" cache_key="flickr_feed" cache_type="memory">
    ${h.literal(h.flickr())}
</%def>

<%def name="footer()" cached="True" cache_timeout="86400" cache_key="footer" cache_type="file">
    <ul>
        <li class="wurdig-nav-first feed">
            % if h.wurdig_use_externalposts_feed():
                <a href="${h.wurdig_external_posts_feed()}"
                    title="Blog">
                    Blog Feed
                </a>
            % else:
                <a href="${h.url_for(controller='feed', action='posts_feed')}"
                    title="Blog">
                    Blog Feed
                </a>
            % endif
        </li>
        <li class="wurdig-nav-last feed">
            <a href="${h.url_for(controller='feed', action='comments_feed')}"
                title="Comments (atom)">
                Comments Feed
            </a>
        </li>
    </ul>
    <p>
        Powered by
<a href="http://github.com/leveille/wurdig" title="Wurdig">Wurdig</a>, built with <a href="http://www.pylonshq.com" title="Pylons">Pylons</a>, &copy; Jason Leveille 
    </p>
</%def>

<%def name="flash()">
    % if session.has_key('flash'):
        <div id="flash">
            <p class="flash">${session.get('flash')}</p>
        </div>
        <%
            del session['flash']
            session.save()
        %>
    % endif
</%def>

<%def name="js()">
    % if c.use_minified_assets:
        ${h.javascript_link('/javascripts/%s' % config['wurdig.minified_js'])}
    % else:
        ${h.javascript_link(h.url_for('/javascripts/jquery.min.js?%s') % h.mtime("/javascripts/jquery/jquery.min.js"), 
                            h.url_for('/javascripts/application.js?%s') % h.mtime("/javascripts/application.js"),
                            h.url_for('/javascripts/utils.js?%s') % h.mtime("/javascripts/utils.js"))}
    %endif
</%def>

<%def name="analytics()">
    % if h.wurdig_use_googleanalytics():
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("${h.wurdig_googleanalytics_key()}");
        pageTracker._trackPageview();
        } catch(err) {}</script>
    % endif
</%def>
