<%def name="doctype()">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
</%def>

<%def name="meta()">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="author" content="Jason R. Leveille">
    <meta name="copyright" content="http://jasonleveille.com">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="ICBM" content="37.0625, -95.677068">
    <meta name="geo.position" content="37.0625, -95.677068">
    <meta name="geo.placename" content="Frederick, Maryland">
    <meta name="geo.region" content="US-MD">
    <meta name="geo.country" content="US">
    ${h.auto_discovery_link(h.url_for(controller='post', action='feeds'), feed_type='atom', title='Recent Posts')}
    ${h.auto_discovery_link(h.url_for(controller='comment', action='feeds'), feed_type='atom', title='Recent Comments')}
</%def>

<%def name="css()">
    ${h.stylesheet_link(h.url_for('http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('http://yui.yahooapis.com/2.7.0/build/base/base-min.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/base.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/utils.css'), media="screen, projection")}
    ${h.stylesheet_link(h.url_for('/css/print.css'), media="print")}
</%def>

<%def name="header()">
    <h1><a href="${h.url_for(controller='post', action='home')}" title="Home">${title()}</a></h1>
    % if h.wurdig_use_subtitle():
        <p class="wurdig-tagline">${h.wurdig_subtitle()}</p>
    % endif
</%def>

<%def name="random_header_img()">
    background: url('/images/headers/${h.random_header()}') no-repeat center center
</%def>

<%def name="title()">
    ${h.wurdig_title()}
</%def>

<%def name="primary_nav(loc=None)">
    <div id="wurdig-primary-nav">
        <ul role="navigation">
            <%
                (n_home, n_about, n_teaching, wurdig_active) = (None, None, None, 'wurdig-active')
                if loc == 'home':
                    n_home = wurdig_active
                if loc == 'about':
                    n_about = wurdig_active
                elif loc == 'teaching':
                    n_teaching = wurdig_active
            %>
            <li class="${n_home} wurdig-nav-first">
                <a href="${h.url_for(controller='post', action='home')}" 
                    title="Home" class="${n_home}">
                    Home
                </a>
            </li>
            <li class="${n_about}">
                <a href="${h.url_for(controller='page', action='view', slug='about')}" 
                    title="About This Site" class="${n_about}">
                    About
                </a>
            </li>
            <li class="${n_teaching}">
                <a href="${h.url_for(controller='page', action='view', slug='teaching')}" 
                    title="My Former Teaching Life" class="${n_teaching}">
                    Teaching
                </a>
            </li>
            % if h.wurdig_display_contact_email():
                <li>
                    ${h.mail_to(h.wurdig_contact_email(), "Contact", encode = "hex")}
                </li>
            % endif
            % if h.auth.authorized(h.auth.is_valid_user) and request.urlvars['action'] != 'signout':
                <li class="wurdig-nav-last">
                    <a href="${h.url_for(controller='account', action='signout')}" 
                        title="Sign Out">
                        Sign Out
                    </a>
                </li>
            % else:
                <li class="wurdig-nav-last">
                    <a href="${h.url_for(controller='account', action='signin')}" 
                        title="Sign In">
                        Sign In
                    </a>
                </li>
            % endif
        </ul>
    </div>
</%def>

<%def name="search_form()">
    <div id="wurdig-search">
        % if h.wurdig_use_googlesearch():
            <form action="/search" id="cse-search-box">
                <div>
                    <input type="hidden" name="cx" value="${h.wurdig_googlesearch_key()}" />
                    <input type="hidden" name="cof" value="FORID:9" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <input type="text" name="q" id="cse-search-q" size="31" />
                    <input type="submit" name="sa" value="Search" />
                </div>
            </form>
            <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
        % endif
    </div>
</%def>

<%def name="subscribe()">
    <div id="wurdig-subscribe">
        <h4>Feeds</h4>
        <ul>
            <li>
                <a href="${h.url_for(controller='post', action='feeds')}"
                    title="Blog">
                    Blog
                </a>
            </li>
            <li>
                <a href="${h.url_for(controller='comment', action='feeds')}"
                    title="Comments">
                    Comments
                </a>
            </li>
            % if request.urlvars['controller'] == 'post' and \
                 request.urlvars['action'] == 'view':
                % if c.post.comments_allowed:
                    <li>
                        <a href="${h.url_for(
                                    controller='comment', 
                                    action='post_comment_feed', 
                                    post_id=unicode(c.post.id)
                                )}"
                            title="${c.post.title} Comments Feed">
                            Post Comment Feed
                        </a>
                    </li>
                % endif
            % endif
        </ul>
    </div>
</%def>

<%def name="blogroll()">
    <div id="wurdig-blogroll" class="wurdig-secondary-list">
        <h4>Blogroll</h4>
        <ul>
            <li><a href="http://benramsey.com/" rel="external" title="Ben Ramsey">Ben Ramsey</a></li>
            <li><a href="http://shiflett.org/" rel="external" title="Chris Shiflett">Chris Shiflett</a></li>
            <li><a href="http://teachmetheweb.org/" rel="external" title="Teach Me the Web">Teach Me the Web</a></li>
            <li><a href="http://zgordon.org/" rel="external" title="Zac Gordon">Zac Gordon</a></li>
        </ul>
    </div>
</%def>

<%def name="twitter_updates()" cached="True" cache_timeout="3600" cache_key="twitter_feed" cache_type="memory">
    ${h.literal(h.twitter())}
</%def>

<%def name="tags()" cached="True" cache_timeout="43200" cache_key="tag_cloud" cache_type="memory">
    ${h.literal(h.cloud())}
</%def>

<%def name="recent_comments()">
    ${h.literal(h.recent_comments())}
</%def>

<%def name="delicious()" cached="True" cache_timeout="43200" cache_key="delicious_feed" cache_type="memory">
    ${h.literal(h.delicious())}
</%def>

<%def name="flickr()" cached="True" cache_timeout="43200" cache_key="flickr_feed" cache_type="memory">
    ${h.literal(h.flickr())}
</%def>

<%def name="footer()">
    <ul>
        <li class="wurdig-nav-first">
            <img src="/images/feed-icon-14x14.png" alt="Blog Atom Feed">
            <a href="${h.url_for(controller='post', action='feeds')}"
                title="Blog">
                Blog Feed
            </a>
        </li>
        <li>
            <img src="/images/feed-icon-14x14.png" alt="Comments Atom Feed">
            <a href="${h.url_for(controller='comment', action='feeds')}"
                title="Comments (atom)">
                Comments Feed
            </a>
        </li>
        <li class="wurdig-nav-last">
            <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fjasonleveille.com"
                title="HTML 4.01">
                HTML 4.01
            </a>
        </li>
    </ul>
    <p>
        Powered by 
        <a href="http://github.com/leveille/wurdig" title="Wurdig">Wurdig</a>, handcrafted using 
        <a href="http://www.pylonshq.com" title="Pylons">Pylons</a> | 
        <a href="/2009/02/graduate-school-independent-study">Full Story</a>
    </p>
</%def>

<%def name="flash()">
    % if session.has_key('flash'):
        <div id="flash">
            <p class="flash">${session.get('flash')}</p>
        </div>
        <%
            del session['flash']
            session.save()
        %>
    % endif
</%def>

<%def name="js()">
    ${h.javascript_link(h.url_for('/javascripts/jquery/jquery.min.js'), 
                        h.url_for('/javascripts/application.js'),
                        h.url_for('/javascripts/utils.js'))}
</%def>

<%def name="analytics()"></%def>
