## -*- coding: utf-8 -*-
<%namespace file="/component/admin.html" name="admin" import="*"/>
<%
    from pylons.i18n.translation import _
%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <title>${h.wurdig_title()} ${self.title()}</title>
        ${admin.css()}
    </head>
    <body role="application" id="admin">
        <div class="js succ"></div>
        <div class="js err"></div>
        <div id="doc" class="yui-t2">      
            <div id="hd">
                <div id="meta">
                    <div class="wrapper">
                        <p>
                            ${h.link_to(
                                h.wurdig_title(),
                                h.url_for(controller='post', action='home')
                            )}
                        </p>
                        <ul>
                            <li>
                                ${_('User')}: (${request.environ['REMOTE_USER']}),
                            </li>
                            <li class="last">
                                ${h.link_to(
                                    _('Log Out'), 
                                    h.url_for(controller='account', action='signout'),
                                    class_='last'
                                )}
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div id="logo" role="banner">
                    <div class="wrapper">
                        <h6>${_('Administrator')}</h6>
                        ${h.link_to(
                            h.literal('<img src="/admin/gr/header/logo.gif" alt="Wurdig">'), 
                            h.url_for(controller='post', action='home')
                        )}
                    </div>
                </div>
                
                <div id="nav">
                    <div class="wrapper">
                        <ul>
                            <li>
                                ${h.link_to(
                                    _('Log Out'), 
                                    h.url_for(controller='account', action='signout'),
                                    class_='last'
                                )}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="bd">
                <div id="yui-main">
                    <div id="primary" class="yui-b" role="main">
                        <h1>${self.title()}</h1>
                        <div class="pad">
                            ${admin.flash()}
                            ${next.body()}
                        </div>
                    </div>
                </div>
                <div id="secondary" class="yui-b" role="navigation">
                    <div id="triangle"></div>
                    <div class="pad">
                        <h3 class="home active">
                            ${h.link_to(
                                _('Dashboard'), 
                                h.url_for(controller='account', action='dashboard')
                            )}
                        </h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    _('Dashboard'), 
                                    h.url_for(controller='account', action='dashboard'), 
                                    title=_('Dashboard')
                                )}
                            </li>
                            <li>
                                ${h.link_to(
                                    _('Log Out'),
                                    h.url_for(controller='account', action='signout')
                                )}
                            </li>
                        </ul>
                        <h3 class="pages">
                            ${h.link_to(
                                _('Posts'),
                                h.url_for(controller='post', action='list')
                            )}
                        </h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    _('List'),
                                    h.url_for(controller='post', action='list')
                                )}
                            </li>
                            <li>
                                ${h.link_to(
                                    _('New'),
                                    h.url_for(controller='post', action='new')
                                )}
                            </li>
                        </ul>
                        <h3 class="users">
                            ${h.link_to(
                                _('Comments'),
                                h.url_for(controller='comment', action='list')
                            )}
                        </h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    _('List'),
                                    h.url_for(controller='comment', action='list')
                                )}
                            </li>
                        </ul>
                        <h3 class="pages">
                            ${h.link_to(
                                _('Pages'),
                                h.url_for(controller='page', action='list')
                            )}
                        </h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    _('List'),
                                    h.url_for(controller='page', action='list')
                                )}
                            </li>
                            <li>
                                ${h.link_to(
                                    _('New'),
                                    h.url_for(controller='page', action='new')
                                )}
                            </li>
                        </ul>
                        <h3 class="servers">
                            ${h.link_to(
                                _('Tags'),
                                h.url_for(controller='tag', action='list')
                            )}
                        </h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    _('List'),
                                    h.url_for(controller='tag', action='list')
                                )}
                            </li>
                            <li>
                                ${h.link_to(
                                    _('New'),
                                    h.url_for(controller='tag', action='new')
                                )}
                            </li>
                        </ul>
                        <h3 class="servers">
                            ${h.link_to(
                                _('Settings'),
                                h.url_for(controller='setting', action='list')
                            )}
                        </h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    _('List'),
                                    h.url_for(controller='setting', action='list')
                                )}
                            </li>
                            <li>
                                ${h.link_to(
                                    _('New'),
                                    h.url_for(controller='setting', action='new')
                                )}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="ft" role="contentinfo">
                <div class="wrapper">
                    <p>
                        ${_('Powered by')}
                        ${h.link_to(
                            _('Wurdig'),
                            'http://github.com/leveille/wurdig/tree/master'
                        )}
                    </p>
                    <ul>
                        <li>
                            ${h.link_to(
                                h.wurdig_title(), 
                                h.url_for(controller='post', action='home')
                            )}
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div id="loading">&nbsp;</div>
        ${admin.js()}
        ${self.js()}
    </body>
</html>

<%def name="title()">Administrator</%def>
<%def name="js()"></%def>