## -*- coding: utf-8 -*-
<%namespace file="/component/admin.html" name="admin" import="*"/>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
        <meta http-equiv="Content-Language" content="en-us">
        <meta name="author" content="Jason R. Leveille">
        <meta name="copyright" content="http://jasonleveille.com">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        
        <title>${self.title()}</title>
        ${admin.css()}
    </head>
    
    <body id="admin">
        <div class="js succ">
        </div>
        <div class="js err">
        </div>
        ${admin.flash()}
        ${next.body()}
        ${admin.js()}
    </body>
</html>

<%def name="title()">Jason Leveille's Blog Administrator</%def>