## -*- coding: utf-8 -*-
<%namespace file="/component/admin.html" name="admin" import="*"/>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <title>Administrator - ${self.title()}</title>
        ${admin.css()}
    </head>
    <body role="application" id="admin">
        <div class="js succ"></div>
        <div class="js err"></div>
        <div id="doc" class="yui-t2">      
            <div id="hd">
                <div id="meta">
                    <div class="wrapper">
                        <p><em>(${h.wurdig_title()})</em></p>
                        <ul>
                            <li>
                                ${h.link_to(
                                    'Logout',
                                    h.url_for(controller='account', action='signout')
                                )}
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div id="logo" role="banner">
                    <div class="wrapper">
                        <h6>Administrator</h6>
                        <a href="/"><img src="/admin/assets/gr/header/logo.png" alt=""></a>
                    </div>
                </div>
                
                <div id="nav" role="navigation">
                    <div class="wrapper">
                        <ul>
                            <li>
                                ${h.link_to(
                                    'Posts',
                                    h.url_for(controller='post', action='list')
                                )}
                            </li>
                            <li>
                                <a href="${h.url_for(controller='comment', action='list')}" class="last">
                                    Comments
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="bd">
                <div id="yui-main">
                    <div id="primary" class="yui-b" role="main">
                        <h1>${self.title()}</h1>
                        <div class="pad">
                            ${admin.flash()}
                            ${next.body()}
                        </div>
                    </div>
                </div>
                <div id="secondary" class="yui-b" role="navigation">
                    <div id="triangle"></div>
                    <div class="pad">
                        <h3 class="home active"><a href="#">Dashboard</a></h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    'Logout',
                                    h.url_for(controller='account', action='signout')
                                )}
                            </li>
                        </ul>
                        <h3 class="pages"><a href="#">Posts</a></h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    'List',
                                    h.url_for(controller='post', action='list')
                                )}
                            </li>
                            <li>
                                ${h.link_to(
                                    'New',
                                    h.url_for(controller='post', action='new')
                                )}
                            </li>
                        </ul>
                        <h3 class="users"><a href="#">Comments</a></h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    'List',
                                    h.url_for(controller='comment', action='list')
                                )}
                            </li>
                        </ul>
                        <h3 class="pages"><a href="#">Pages</a></h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    'List',
                                    h.url_for(controller='page', action='list')
                                )}
                            </li>
                            <li>
                                ${h.link_to(
                                    'New',
                                    h.url_for(controller='page', action='new')
                                )}
                            </li>
                        </ul>
                        <h3 class="servers"><a href="#">Tags</a></h3>
                        <ul>
                            <li>
                                ${h.link_to(
                                    'List',
                                    h.url_for(controller='tag', action='list')
                                )}
                            </li>
                            <li>
                                ${h.link_to(
                                    'New',
                                    h.url_for(controller='tag', action='new')
                                )}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="ft" role="contentinfo">
                <div class="wrapper">
                    <p>Powered by Wurdig</p>
                    <ul>
                        <li>${h.wurdig_title()}</li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        
        ${admin.js()}

    </body>
</html>

<%def name="title()">Administrator</%def>