## -*- coding: utf-8 -*-
<%namespace file="../component/wurdig.html" name="wurdig" import="*"/>

${wurdig.doctype()}
<html>
    <head>
        ${wurdig.meta()}
        <title>${self.title()}</title>
        ${wurdig.css()}
    </head>

    <body id="home">
        
        <div class="container_16">
            ${wurdig.primary_nav('home')}
        </div>
        
        ${wurdig.header()}
        
        <div id="content">
            <div class="container_16">
                
                <div id="primary-content" class="grid_11">
                    ${wurdig.flash()}
                    ${next.body()}                    
                </div>
                
                <div id="sidebar" class="grid_5">
                    ${wurdig.recent_comments()}
                    ${wurdig.twitter_updates()}
                    ${wurdig.tags()}
                </div>
            </div>
        </div>

        ${wurdig.secondary_content()}
        ${wurdig.footer()}
        ${wurdig.js()}      
    </body>
</html>

<%def name="title()">Jason Leveille's Blog</%def>