## -*- coding: utf-8 -*-
<%namespace file="../component/wurdig.html" name="wurdig" import="*"/>

${wurdig.doctype()}
<html>
    <head>
        ${wurdig.meta()}
        <title>${self.title()}</title>
        ${wurdig.css()}
    </head>
    
    <body id="home">
        
        <div class="container_16">
            ${wurdig.primary_nav()}
        </div>
        
        ${wurdig.header()}
        
        <div id="content">
            <div class="container_16">
                
                <div id="primary-content" class="grid_8">
                    ${wurdig.flash()}
                    ${next.body()}                    
                </div>
                
                <div id="sidebar" class="grid_8">
                    <div id="archives" class="grid_4 alpha">
                        ${self.archives()}
                    </div>
                    <div id="tags" class="grid_4 omega">
                        ${self.tags()}
                    </div>
                    <div id="twitter-updates">
                        ${self.twitter_updates()}
                    </div>
                    <div id="recent-comments">
                        ${self.recent_comments()}
                    </div> 
                    <div id="development-stream">
                        ${self.development_stream()}
                    </div>
                </div>
            </div>
        </div>
        ${wurdig.secondary_content()}
        ${wurdig.footer()}
        ${wurdig.js()}      
    </body>
</html>

<%def name="title()">Jason Leveille's Blog</%def>

<%def name="twitter_updates()">
    <h4>Twitter Updates</h4>
    <ul>
        <li>Update</li>
        <li>Update</li>
        <li>Update</li>
        <li>Update</li>
    </ul>
</%def>

<%def name="archives()">
    <h4>Archives</h4>
    <ul>
        <li>Archive</li>
        <li>Archive</li>
        <li>Archive</li>
        <li>Archive</li>
    </ul>
</%def>

<%def name="tags()">
    <h4>Tags</h4>
    <ul>
        <li>Tag</li>
        <li>Tag</li>
        <li>Tag</li>
        <li>Tag</li>
    </ul>
</%def>

<%def name="recent_comments()">
    <h4>Recent Comments</h4>
    <ul>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
    </ul>
</%def>

<%def name="development_stream()">
    <h4>Development Stream</h4>
    <ul>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
    </ul>
</%def>
