## -*- coding: utf-8 -*-
<%namespace file="/component/wurdig.html" name="wurdig" import="*"/>
<%
    from pylons.i18n.translation import _
%>
${wurdig.doctype()}
<html>
    <head>
        <title>${self.title()}</title>
        <meta name="description" content="${self.description()}">
        ${wurdig.meta()}
        ${self.ps_feeds()}
        ${wurdig.css()}
    </head>
    <%
        controller = request.urlvars['controller']
        action = request.urlvars['action']
        slug = None
        if controller == 'page' and action == 'view':
        	slug = request.urlvars['slug']
        elif controller == 'post' and action == 'home':
            slug = action
    %>
    <body class="${controller} ${slug}">   
        <div class="js succ"></div>
        <div class="js err"></div>
        <div id="doc4" class="yui-t6 group">
            <div id="hd" role="banner" class="${controller}">
                ${wurdig.primary_nav(slug)}
                ${wurdig.header()}
            </div>
            <div id="wurdig-header-img" style="${wurdig.random_header_img()}">
                ${self.content_header()}
            </div>
            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b in in-main" role="main">
                        ${wurdig.flash()}
                        ${next.body()}  
                    </div>
                </div>
                <div class="yui-b" id="wurdig-sidebar" role="complementary">
                    <div class="in in-sidebar">
                    	<div id="sidebar-about"></div>
                        ${wurdig.search_form()}
                        ${wurdig.subscribe()}
                        ${wurdig.recent_comments()}
                        ${wurdig.twitter_updates()}
                        % if request.urlvars['action'] != 'cloud':
                            <!-- call to wurdig.tags() if you want to display the tag cloud -->
                        % endif
                    </div>
                </div>
            </div>
            <div class="yui-gb" id="wurdig-secondary-content">
                <div class="yui-u first">
                    ${wurdig.delicious()}
                </div>
                <div class="yui-u">
                    ${wurdig.flickr()}
                </div>
                <div class="yui-u">
                    ${wurdig.blogroll()}
                </div>
            </div>
            <div id="ft" role="contentinfo">
                ${wurdig.footer()}
            </div>
        </div>
        ${wurdig.js()}
        ${self.js()}
        ${wurdig.analytics()}
    </body>
</html>
<%def name="title()">${wurdig.title()} - ${h.wurdig_subtitle()}</%def>
<%def name="description()">${_('Topics in Web Application Development')}</%def>
<%def name="content_header()"></%def>
<%def name="ps_feeds()"></%def>
<%def name="js()"></%def>
