## -*- coding: utf-8 -*-
<%namespace file="/component/wurdig.html" name="wurdig" import="*"/>

${wurdig.doctype()}
<html>
    <head>
        ${wurdig.meta()}
        <title>${self.title()}</title>
        ${self.ps_feeds()}
        ${wurdig.css()}
    </head>
    <%
        controller = request.urlvars['controller']
        action = request.urlvars['action']
        slug = None
        if controller == 'page':
        	slug = request.urlvars['slug']
        
        body_id = 'home'
        if action != 'home':
            body_id = 'secondary'
    %>
    <body id="${body_id}" class="${controller} ${slug}">    
        <div id="doc4" class="yui-t5">
            ${wurdig.primary_nav('home')}
            <div id="hd" role="banner">
                ${wurdig.header()}
            </div>
            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b" role="main">
                        ${wurdig.flash()}
                        ${next.body()}  
                    </div>
                </div>
                <div class="yui-b" role="complementary">
                    ${wurdig.recent_comments()}
                    ${wurdig.twitter_updates()}
                    % if request.urlvars['action'] != 'cloud':
                        ${wurdig.tags()}
                    % endif
                </div>
            </div>
            <div class="yui-gb">
                <div class="yui-u first">
                    ${h.literal(h.delicious())}
                </div>
                <div class="yui-u">
                    ${h.literal(h.flickr())}
                </div>
                <div class="yui-u">
                    ${wurdig.blogroll()}
                </div>
            </div>
            <div id="ft" role="contentinfo">
                ${wurdig.footer()}
            </div>
        </div>
        ${wurdig.js()}      
    </body>
</html>
<%def name="title()">
    ${wurdig.title()}
</%def>
<%def name="ps_feeds()"></%def>