## -*- coding: utf-8 -*-
<%namespace file="/component/wurdig.html" name="wurdig" import="*"/>

${wurdig.doctype()}
<html>
    <head>
        <title>${self.title()}</title>
        <meta name="description" content="${self.description()}">
        ${wurdig.meta()}
        ${self.ps_feeds()}
        ${wurdig.css()}
    </head>
    <%
        controller = request.urlvars['controller']
        action = request.urlvars['action']
        slug = None
        if controller == 'page':
        	slug = request.urlvars['slug']
        elif controller == 'post' and action == 'home':
            slug = action
    %>
    <body class="${controller} ${slug}">    
        <div id="doc4" class="yui-t4">
            <div id="hd" role="banner" class="${controller}">
                ${wurdig.primary_nav(slug)}
                ${wurdig.header()}
            </div>
            <div id="wurdig-header-img" style="${wurdig.random_header_img()}">
                ${self.content_header()}
            </div>
            <div id="bd">
                <div id="yui-main" role="main">
                    <div class="yui-b in in-main" role="main">
                        ${wurdig.flash()}
                        ${next.body()}  
                    </div>
                </div>
            </div>
            <div class="yui-gb" id="wurdig-secondary-content">
                <div class="yui-u first">
                    ${h.literal(h.delicious())}
                </div>
                <div class="yui-u">
                    ${h.literal(h.flickr())}
                </div>
                <div class="yui-u">
                    ${wurdig.blogroll()}
                </div>
            </div>
            <div id="ft" role="contentinfo">
                ${wurdig.footer()}
            </div>
        </div>
        ${wurdig.js()}      
    </body>
</html>
<%def name="title()">${wurdig.title()}</%def>
<%def name="description()">Search</%def>
<%def name="content_header()"></%def>
<%def name="ps_feeds()"></%def>