## -*- coding: utf-8 -*-
<%namespace file="../component/wurdig.html" name="wurdig" import="*"/>

${wurdig.doctype()}
<html>
    <head>
        <title>${self.title()}</title>
        ${wurdig.meta()}
        ${self.ps_feeds()}
        ${wurdig.css()}
    </head>
    <%
        controller = request.urlvars['controller']
        slug = None
        if request.urlvars['slug'] is not None:
        	slug = request.urlvars['slug']
    %>
    <body id="secondary" class="${controller} ${slug}">
        
        <div class="container_16">
            ${wurdig.primary_nav(slug)}
        </div>
        
        ${wurdig.header()}
        
        <div id="content">
            <div class="container_16">
                
                <div id="primary-content" class="grid_11">
                    ${wurdig.flash()}
                    ${next.body()}                    
                </div>
                
                <div id="sidebar" class="grid_5">
                    <div id="archives">
                        ${self.archives()}
                    </div>
                    <div id="tags">
                        ${self.tags()}
                    </div>
                    <div id="recent-comments">
                        ${self.recent_comments()}
                    </div>
                </div>
            </div>
        </div>
        ${wurdig.secondary_content()}
        ${wurdig.footer()}
        ${wurdig.js()}      
    </body>
</html>

<%def name="title()">Jason Leveille's Blog</%def>

<%def name="ps_feeds()"></%def>

<%def name="archives()">
    <h4>Archives</h4>
    <ul>
        <li>Archive</li>
        <li>Archive</li>
        <li>Archive</li>
        <li>Archive</li>
    </ul>
</%def>

<%def name="tags()">
    <h4>Tags</h4>
    <ul>
        <li>Tag</li>
        <li>Tag</li>
        <li>Tag</li>
        <li>Tag</li>
    </ul>
</%def>

<%def name="recent_comments()">
    <h4>Recent Comments</h4>
    <ul>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
        <li>Comment</li>
    </ul>
</%def>

<%def name="development_stream()">
    <h4>Development Stream</h4>
    <ul>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
    </ul>
</%def>
