## -*- coding: utf-8 -*-
<%namespace file="../component/wurdig.html" name="wurdig" import="*"/>

${wurdig.doctype()}
<html>
    <head>
        <title>${self.title()}</title>
        ${wurdig.meta()}
        ${self.ps_feeds()}
        ${wurdig.css()}
    </head>
    <%
        controller = request.urlvars['controller']
        action = request.urlvars['action']
        slug = None
        if action == 'page':
        	slug = request.urlvars['slug']
    %>
    <body id="secondary" class="${controller} ${slug}">
        
        <div class="container_16">
            ${wurdig.primary_nav(slug)}
        </div>
        
        ${wurdig.header()}
        
        <div id="content">
            <div class="container_16">
                
                <div id="primary-content" class="grid_11">
                    ${wurdig.flash()}
                    ${next.body()}                    
                </div>
                
                <div id="sidebar" class="grid_5">
                    <div id="tags">
                        ${wurdig.tags()}
                    </div>
                    <div id="recent-comments">
                        ${wurdig.recent_comments()}
                    </div>
                </div>
            </div>
        </div>
        ${wurdig.secondary_content()}
        ${wurdig.footer()}
        ${wurdig.js()}      
    </body>
</html>

<%def name="title()">Jason Leveille's Blog</%def>

<%def name="ps_feeds()"></%def>
