<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>

<%def name="title()">
    ${parent.title()} &gt; ${_('Delete Confirmation')}
</%def>

<h2>${_('Delete Comment')}</h2>

<p>${_('Are you sure you want to delete the following comment')}:</p>

<p>
    ${_('Author')}: ${c.comment.name}<br>
    ${h.literal(c.comment.content)}
</p>

${h.form(h.url_for(controller='comment', action='delete'), method='post')}
    ${h.hidden('id', value=c.comment.id)}
    ${h.submit('edit', _('Yes, Delete Comment'))}  ${_('or')}
    ${h.link_to(_('Cancel'), h.url_for(controller='post', 
                                       action='view', 
                                       year=c.post.posted_on.strftime('%Y'), 
                                       month=c.post.posted_on.strftime('%m'), 
                                       slug=c.post.slug))}
${h.end_form()}