<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>

<%def name="title()">
    ${parent.title()} &gt; ${_('Disapprove Confirmation')}
</%def>

<h2>${_('Disapprove Comment')}</h2>

<p>${_('Are you sure you want to disapprove the following comment')}:</p>

<p>
    ${_('Author')}: ${c.comment.name}<br>
    ${h.literal(c.comment.content)}
</p>

${h.form(h.url_for(controller='comment', action='disapprove'), method='post')}
    ${h.hidden('id', value=c.comment.id)}
    ${h.submit('edit', _('Yes, Disapprove Comment'))}  ${_('or')}
    ${h.link_to(_('Cancel'), h.url_for(controller='comment', action='list'))}
${h.end_form()}
