<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/master.html"/>
<%namespace file="/derived/post/comment_fields.html" name="fields" import="*"/>
<%namespace file="/component/editor.html" name="editor" import="*"/>

<%def name="title()">
    ${parent.title()} &gt; ${_('Comment for')} ${c.post.title}
</%def>

<%def name="js()">
    ${editor.comment_editor()}
</%def>

<%def name="content_header()">
    <h1>${_('Comment Errors')}!</h1>
</%def>

<h2>${_('Comment Errors for')} "${c.post.title}"</h2>

<div id="leave-comment">
    ${h.secure_form(h.url_for(post_id=c.post.id, controller='comment', action='create'), method='post')}
        ${fields.body()}
        ${h.submit('create_comment', _('Create Comment'))} ${_('or')}
        ${h.link_to(_('Cancel'), h.url_for(controller='post', 
                                           action='view', 
                                           year=c.post.posted_on.strftime('%Y'), 
                                           month=c.post.posted_on.strftime('%m'), 
                                           slug=c.post.slug))}
    ${h.end_form()}
</div>
