<%inherit file="/base/master.html"/>
<%namespace file="/derived/post/comment_fields.html" name="fields" import="*"/>

<%def name="title()">${parent.title()} &gt; Comment for ${c.post.title}</%def>

<h2>${c.post.title} - New Comment Errors</h2>

<div id="leave-comment">
    ${h.secure_form(h.url_for(post_id=c.post.id, controller='comment', action='create'), method='post')}
        ${fields.body()}
        ${h.submit('create_comment', 'Create Comment')} or
        <!-- 
            For some reason I can't use the link_to helper here
            Getting an obscure "Undefined" error, with c.post.slug highlighted
         -->
        <a href="${h.url_for(controller='post', 
                      action='view', 
                      year=c.post.posted_on.strftime('%Y'), 
                      month=c.post.posted_on.strftime('%m'), 
                      slug=c.post.slug)}">Cancel</a>
    ${h.end_form()}
</div>
