<div class="field required">
    <label for="name">Name</label>
    ${h.text('name')}
</div>
<div class="field required">
    <label for="email">Email</label>
    <span class="description">Use to help prevent spam but will not be published</span>
    ${h.text('email')}
</div>
<div class="field">
    <label for="url">Website</label>
    ${h.text('url')}
</div>

% if not h.wurdig_use_akismet():
    <div class="field required">
        <p>Please enter ${h.wurdig_spamword()} below. I apologize for the inconvenience of this spam prevention method.</p>
        <label for="wurdig_comment_question">Super Secret Word</label>
        ${h.text('wurdig_comment_question')}
    </div>
% endif

<div class="field required">
    <label for="content">Content</label>
    ${h.textarea('content', cols=25, rows=10)}
</div>