<div class="field required">
    <label for="name">Name</label>
    <div class="input">
        ${h.text('name', tabindex=1)}
    </div>
</div>
<div class="field required">
    % if not h.auth.authorized(h.auth.is_valid_user):
        <div class="description">
            <strong>Email</strong> 
            used to help prevent spam and will not be published.  Associates with 
            <a href="http://gravatar.com/">
                Gravatars
            </a>.
        </div>
    % endif
    <label for="email">Email</label>
    <div class="input">
        ${h.text('email', tabindex=2)}
    </div>
</div>
<div class="field">
    <label for="url">Website</label>
    <div class="input">
        ${h.text('url', tabindex=3)}
    </div>
</div>

<div class="field required">
    % if not h.auth.authorized(h.auth.is_valid_user):
        <div class="description-textarea">
            Follow my <a href="/comment-styleguide" id="comment-styleguide">guide</a> for leaving comments.  Some HTML allowed.
            <div class="hide"></div>
        </div>
    % endif
    <label for="content">Comment</label>
    <div class="input">
        ${h.textarea('content', cols=25, rows=10, tabindex=4)}
    </div>
</div>

% if not h.auth.authorized(h.auth.is_valid_user):
    <div class="field">
        <div class="description">
            Do you want me to remember your comment information (name/email/website)?
        </div>
        <label for="rememberme">Remember?</label>
        <div class="input">
            ${h.checkbox('rememberme', value=None, tabindex=5)}
        </div>
    </div>
% endif

% if not h.auth.authorized(h.auth.is_valid_user) and not h.wurdig_use_akismet():
    <div class="field required">
        <div class="description">
            Please enter 
            <strong>${h.wurdig_spamword()}</strong> 
            below. I apologize for the inconvenience of this spam prevention method.
        </div>
        <label for="wurdig_comment_question">Spamword</label>
        <div class="input">
            ${h.text('wurdig_comment_question', tabindex=6)}
        </div>
    </div>
% else:
    ${h.hidden('wurdig_comment_question', value=h.wurdig_spamword().lower())}
% endif
