<%
    from pylons.i18n.translation import _
%>
<div class="field required">
    <label for="name">${_('Name')}</label>
    <div class="input">
        ${h.text('name', tabindex=1)}
    </div>
</div>
<div class="field required">
    % if not h.auth.authorized(h.auth.is_valid_user):
        <div class="description">
            <strong>${_('Email')}</strong> 
            ${_('will not be published.  Associates')}
            <a href="http://gravatar.com/">
                Gravatars
            </a>
        </div>
    % endif
    <label for="email">${_('Email')}</label>
    <div class="input">
        ${h.text('email', tabindex=2)}
    </div>
</div>
<div class="field">
    <label for="url">${_('Website')}</label>
    <div class="input">
        ${h.text('url', tabindex=3)}
    </div>
</div>

<div class="field required">
    <label for="content">${_('Comment')}</label>
    <div class="input">
        ${h.textarea('content', cols=25, rows=10, tabindex=4)}
    </div>
</div>

% if not h.auth.authorized(h.auth.is_valid_user):
    <div class="field">
        <label for="rememberme">${_('Remember')}?</label>
        <div class="input">
            ${h.checkbox('rememberme', value=None, tabindex=5, style='width: 20px')}
        </div>
    </div>
% endif

% if not h.auth.authorized(h.auth.is_valid_user) and not h.wurdig_use_akismet():
    <div class="field required">
        <div class="description">
            ${_('Please enter')}
            <strong>${h.wurdig_spamword()}</strong> 
            ${_('below')}.
        </div>
        <label for="wurdig_comment_question">${_('Spamword')}</label>
        <div class="input">
            ${h.text('wurdig_comment_question', tabindex=6)}
        </div>
    </div>
% else:
    ${h.hidden('wurdig_comment_question', value=h.wurdig_spamword().lower())}
% endif
