<%inherit file="/base/admin.html"/>

<%def name="title()">${parent.title()} &gt; Edit Post</%def>
<h2>Edit Post</h2>

${h.form(h.url_for(action='save', controller='post', id=request.urlvars['id']), method='post')}
    <div class="field">
        <label for="title">Title</label>
        ${h.text('title')}
    </div>
    <div class="field">
        <label for="slug">Slug</label>
        ${h.text('slug')}
    </div>
    <div class="field">
        <label for="content">Content</label>
        ${h.textarea('content')}
    </div>
    <div class="field">
        <label for="draft">Draft</label>
        ${h.checkbox('draft')}
    </div>
    <div class="field">
        <label for="comments_allowed">Comments Allowed</label>
        ${h.checkbox('comments_allowed')}
    </div>
    ${h.submit('edit', 'Edit Post')}
${h.end_form()}