<%
    from pylons.i18n.translation import _
%>
<table class="form">
    <thead>
        <tr>
            <th colspan="2">${_('Post Information')}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="title">${_('Title')}</label>
                    ${h.text('title', class_='text')}
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="slug">${_('Slug')}</label>
                    ${h.text('slug', class_='text')}
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="content">${_('Content')}</label>
                    ${h.textarea('content', cols=75, rows=75, class_='text')}
                </p>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <p class="field">
                    <label for="draft">${_('Draft')}?</label>
                    ${h.checkbox('draft', value=None, class_='checkbox')}
                </p>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <p class="field">
                    <label for="comments_allowed">${_('Comments')}?</label>
                    % if request.urlvars['action'] == 'new':
                        ${h.checkbox('comments_allowed', value=None, checked='checked', class_='checkbox')}
                    % else:
                        ${h.checkbox('comments_allowed', value=None, class_='checkbox')}
                    % endif
                </p>
            </td>
        </tr>
    </tbody>
</table>

<h3>${_('Tags')}</h3>
<div class="admin-checkboxes">
    % for tag in c.available_tags:
        <div class="admin-checkbox field">
            <input type="checkbox" name="tags" value="${tag[0]}">
            <label for="tags">${tag[1]}</label>
        </div>
    % endfor
</div>