<%inherit file="/base/admin.html"/>

<%def name="heading()"><h1>Post List</h1></%def>

% if len(c.paginator):
    <p>${ c.paginator.pager('$link_first $link_previous $first_item to $last_item of $item_count $link_next $link_last') }</p>
    
    <table class="paginator"><tr><th>Page ID</th><th>Page Title</th><th>Created</th><th>Posted</th></tr>
    % for post in c.paginator:
        <tr>
            <td>
                ${h.link_to(
                    post.id,
                    h.url_for('post', id=unicode(post.id))
                )}
            </td>
            <td>
                ${post.title}
            </td>
            <td>posted or not</td>
            <td>${post.created_on.strftime('%c')}</td>
        </tr>
    % endfor
    </table>
    
    <p>${ c.paginator.pager('~2~') }</p>
% endif
