<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>
<%namespace file="/component/posts.html" name="post" import="*"/>

<%def name="title()">
    ${_('Post List')}
</%def>

<p class="submenu action">
    ${h.link_to(
        h.literal('<span class="ui-icon ui-icon-plusthick"></span>'),
        h.url_for(controller='post', action='new'), 
        class_='ui-state-default ui-corner-all', 
        title=_('Add New Post')
    )}
</p>

<div id="paginator_data">
    ${post.admin_list(c.paginator)}
</div>