<%inherit file="/base/secondary.html"/>
<%namespace file="comment_fields.html" name="fields" import="*"/>
<%namespace file="/component/tags.html" name="tags" import="*"/>

<%def name="title()">${parent.title()} &gt; ${c.post.title}</%def>
<%def name="ps_feeds()">
    ${h.auto_discovery_link(
        h.url_for(
            controller='comment', 
            action='post_comment_feed', 
            post_id=unicode(c.post.id)
        ), 
        feed_type='atom', 
        title='Recent Comments for "' + c.post.title + '"'
    )}
</%def>

<h2>${c.post.title}</h2>

<div class="entry">
    ${h.literal(c.post.content)}
        
    <p class="post-meta">
        ${tags.tag_list(c.post.tags)}
        % if h.auth.authorized(h.auth.is_valid_user):
            <span class="post-admin">
                <strong>Admin</strong> : 
                ${h.link_to(
                    'Edit This Post',
                    h.url_for(controller='post', action='edit', id=unicode(c.post.id))
                )}
            </span>
        % endif
    </p>
    
    % if not c.post.comments_allowed and len(c.post.comments) > 20:
        <p class="notice">Comments have been disabled for this post.</p>
    % endif
    
    % if len(c.post.comments):
        <div id="comments">
            <h3>${h.plural(len(c.post.comments), 'Response', 'Responses')} to "${c.post.title}"</h3>

            % for comment in c.post.comments:
                ${h.literal(comment.content)}
            % endfor
        </div>
    % endif
    
    % if c.post.comments_allowed:
        <div id="respond">
            ${h.secure_form(h.url_for(post_id=c.post.id, controller='comment', action='create'), method='post')}
                ${fields.body()}
                ${h.submit('create_comment', 'Create Comment')}
            ${h.end_form()}
        </div>
    % else:
        <p class="notice">Comments have been disabled for this post.</p>
    % endif
</div>