<%inherit file="/base/secondary.html"/>
<%namespace file="comment_fields.html" name="fields" import="*"/>

<%def name="title()">${parent.title()} &gt; ${c.post.title}</%def>

<h2>${c.post.title}</h2>

<div class="entry">
    ${h.literal(c.post.content)}
    
    % if len(c.post.tags):
        Tagged with : 
        % for tag in c.post.tags:
            ${h.link_to(
                tag.name,
                h.url_for(controller='tag', action='archive', slug=tag.slug)
            )}
        % endfor
    % endif
    
    <div id="comments">
        % if len(c.post.comments):
            <h3>${h.plural(len(c.post.comments), 'Response', 'Responses')} to "${c.post.title}"</h3>

            % for comment in c.post.comments:
                <p>Comment: ${comment.content}</p><hr />
            % endfor
        % endif
    </div>
    
    <div id="respond">
        ${h.form(h.url_for(post_id=c.post.id, controller='comment', action='create'), method='post')}
            ${fields.body()}
            ${h.submit('create_comment', 'Create Comment')}
        ${h.end_form()}
    </div>
</div>