<%inherit file="/base/secondary.html"/>

<%def name="title()">${parent.title()} &gt; ${c.post.title}</%def>

<h2>${c.post.title}</h2>

<div class="entry">
    <%!
        from webhelpers.html import literal
    %>
    
    ${literal(c.post.content)}
    
    % if len(c.post.tags):
        Tagged with : 
        % for tag in c.post.tags:
            ${h.link_to(
                tag.name,
                h.url_for(controller='tag', action='archive', slug=tag.slug)
            )}
        % endfor
    % endif
</div>