<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/master.html"/>
<%namespace file="/component/posts.html" name="posts" import="*"/>

<%def name="title()">${_('Entries tagged')} ${c.tagname}</%def>
<%def name="description()">${title()}</%def>
<%def name="content_header()"><p>${_('Tag, you\'re it')}</p></%def>

<%def name="ps_feeds()">
    ${h.auto_discovery_link(
        h.url_for(
            controller='tag', 
            action='tag_feed', 
            slug=c.tag.slug
        ), 
        feed_type='atom', 
        title= _('Posts tagged "%s"') % c.tag.slug
    )}
</%def>

<h2 class="wurdig-entries-tagged">${_('Entries tagged')} "<strong>${c.tagname}</strong>"</h2>

${posts.paginated()}
