<%inherit file="/base/secondary.html"/>


<%def name="title()">${parent.title()} &gt; Posts tagged with ${c.tag.name}</%def>
<h2>Posts tagged with "${c.tag.name}"</h2>

% if len(c.paginator):
<p>${ c.paginator.pager('$link_first $link_previous $first_item to $last_item of $item_count $link_next $link_last') }</p>
<div class="entries">
% for post in c.paginator:
    <h3>${post.title}</h3>
    <div class="entry">
        <div class="entry-content">
            <%!
                from webhelpers.html import literal
            %>
            ${literal(post.content)}
        </div>
    </div>
% endfor
</div>
<p>${ c.paginator.pager('~2~') }</p>
% else:
<p>
    No posts tagged "${c.tag.name}".
</p>
% endif
