<%
    from pylons.i18n.translation import _
%>
<table class="form">
    <thead>
        <tr>
            <th colspan="2">${_('Tag Information')}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="name">${_('Name')}</label>
                    ${h.text('name', class_='text')}
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="slug">${_('Slug')}</label>
                    ${h.text('slug', class_='text')}
                </p>
            </td>
        </tr>
    </tbody>
</table>
