<table class="form">
    <thead>
        <tr>
            <th colspan="2">Tag Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="name">Name</label>
                    ${h.text('name', class_='text')}
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="slug">Slug</label>
                    ${h.text('slug', class_='text')}
                </p>
            </td>
        </tr>
    </tbody>
</table>
