<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>

<%def name="title()">
    ${_('Tag List')}
</%def>

% if len(c.paginator):
    <p>${ c.paginator.pager('$link_first $link_previous $first_item %s $last_item %s $item_count $link_next $link_last') % (_('to'), _('of')) }</p>
    
    <table class="paginator">
        <thead>
            <tr>
                <th>${_('Name')}</th>
                <th>${_('Action')}</th>
            </tr>
        </thead>
        <tbody>
            % for tag in c.paginator:
                <tr class="${tag.id}">
                    <td>
                        ${tag.name}
                    </td>
                    <td>
                        ${h.link_to(
                            _('View'),
                            h.url_for(controller='tag', action='archive', slug=unicode(tag.slug))
                        )} | 
                        ${h.link_to(
                            _('Edit'),
                            h.url_for(controller='tag', action='edit', id=unicode(tag.id))
                        )} | 
                        ${h.link_to(
                            _('Delete'),
                            h.url_for(controller='tag', action='delete_confirm', id=unicode(tag.id))
                        )}
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>
    
    <p>${ c.paginator.pager('~2~') }</p>
% endif
