<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>

<%def name="title()">${parent.title()} &gt; ${_('Dashboard')}</%def>

<p class="error">
    <strong>Announcement: </strong> This is just all dummy content for the time being.  
</p>
<div class="box">
    <h2>Recent Comments</h2>
    <table summary="">
        <tbody>

            <tr>
                <td>
                    <a href="#">Jason Leveille</a>
                </td>
                <td>
                    8/18/09 - 9:30am
                </td>
                <td class="actions">
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>
                </td>
                <td>
                    8/18/09 - 9:30am
                </td>

                <td class="actions">
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>

                </td>
                <td>
                    8/18/09 - 9:30am
                </td>
                <td class="actions">
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>

            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>
                </td>
                <td>
                    8/18/09 - 9:30am
                </td>
                <td class="actions">

                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>

                </td>
                <td>
                    8/18/09 - 9:30am
                </td>
                <td class="actions">
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>

            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>
                </td>
                <td>
                    8/18/09 - 9:30am
                </td>
                <td class="actions">

                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>

                </td>
                <td>
                    8/18/09 - 9:30am
                </td>
                <td class="actions">
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>

            </tr>
        </tbody>
    </table>
    <p class="action">
        <a href="#" title="Title Here" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span></a>
        <a href="#" title="Title Here" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-search"></span></a>
    </p>
</div>

<div class="box">
    <h2>Drafts</h2>
    <table id="alerts" summary="Empoyees that need urgent attention">
        <tbody>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>: 
                    Some informative message here
                </td>

                <td>
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>: 
                    Some informative message here
                </td>

                <td class="actions">
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>: 
                    Some informative message here
                </td>

                <td class="actions">
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#">Jason Leveille</a>: 
                    Some informative message here
                </td>

                <td class="actions">
                    <a href="#">Edit</a> | <a href="#">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
