<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>
<%namespace file="/component/comment.html" name="comment" import="*"/>
<%namespace file="/component/posts.html" name="post" import="*"/>
<%namespace file="/component/settings.html" name="settings" import="*"/>

<%def name="title()">${parent.title()} &gt; ${_('Dashboard')}</%def>

<div id="dashboard">
    <div class="drafts box">
        <h2>${_('Drafts')}</h2>
        <div class="paginator_data">
            ${post.admin_list(c.draft_paginator)}
        </div>
        <p class="action">
            ${h.link_to(
                h.literal('<span class="ui-icon ui-icon-search"></span>'),
                h.url_for(controller='post', action='list'),
                title=_('View All Posts'),
                class_='ui-state-default ui-corner-all'
            )}
        </p>
    </div>
    <div class="recent_comments box">
        <h2>${_('Recent Comments')}</h2>
        <div class="paginator_data">
            ${comment.paginated(c.comment_paginator)}
        </div>
        <p class="action">
            ${h.link_to(
                h.literal('<span class="ui-icon ui-icon-search"></span>'),
                h.url_for(controller='comment', action='list'),
                title=_('View All Comments'),
                class_='ui-state-default ui-corner-all'
            )}
        </p>
    </div>
    <div class="settings box">
        <h2>${_('Settings')}</h2>
        <div class="paginator_data">
            ${settings.paginated(c.settings_paginator)}
        </div>
        <p class="action">
            ${h.link_to(
                h.literal('<span class="ui-icon ui-icon-search"></span>'),
                h.url_for(controller='setting', action='list'),
                title=_('View All Settings'),
                class_='ui-state-default ui-corner-all'
            )}
        </p>
    </div>
</div>