<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin-login.html"/>

<%def name="title()">${parent.title()} &gt; ${_('Sign In')}</%def>

${h.form(h.url_for(controller='account', action='dashboard'), method='post')}
    ${h.hidden('foo', value='%s')}
	<p>
        <label for="username">${_('Username')}</label>
        ${h.text('username', tabindex=1, class_='text')}
    </p>
    <p>
        <label for="password">${_('Password')}</label>
        ${h.password('password', tabindex=2, class_='text')}
    </p>
    <p class="submit">
        <input type="image" class="submit" src="/admin/gr/login/submit.png" tabindex="3">
    </p>
${h.end_form()}
