/* _FORMS */

tr.odd td{background:#F6F6F6;}
tr.even td{background:#FFF;}
table.form thead tr th{
    background:#656565 url(../../gr/body/sprite.png) 0px 12px repeat-x;
    color:#FFF;
}
table.form label{
    border-right:1px solid #EAEAEA;
    width:100px;
    line-height:30px;
    float:left;
    vertical-align: middle;
    color:#000;
    font-size:12px;
    font-weight:normal;
}
table.form p.required label{font-weight:bold;}
table.form input.text,table.form select{
    margin:2px 0 10px 20px;
    float:left;
}
table.form input.text{
    width:470px;
}
table.form p{
    clear:both;
    margin:6px 0;
    padding-bottom:10px;
}
#primary table.form tbody td sup{color:#EA7778;font-weight:bold; margin-left:5px;}
table.form span.required,div.information span.required{
    color:#179DE5;
    font-size:16px;
    font-weight:bold;
}
div.information{color:#179DE5;text-align:right;}
