/* _HEADINGS */

#primary h1{
    margin:0 0 20px -13px;
    padding-left:20px;
    border-top:1px solid #888;
    border-bottom:1px solid #888;
    background:#F5F5F5 url(../../gr/body/sprite.png) 0px 22px repeat-x;
    line-height:43px;
}
#primary h2{}
#primary div.box h2{
    text-transform:capitalize;
    color:#FFF;
    font-weight:normal;
    background:#55595D url(../../gr/body/sprite.png) repeat-x 0 0;
    margin:0;
    padding:8px;
    border-bottom:1px solid #B3B4B5;
}
#primary h3{}

#primary h4{}

#primary h5{}

#primary h6{}
