/*_PAGINATION */
#primary div.pagination{
    text-align:center;
    vertical-align:middle;
    margin:10px 0;
    color:#888;
}
#primary div.pagination a{
    padding:3px 7px;
    margin:0 5px;
    text-decoration:none;
    border:1px solid #CCC;
    color:#888;
    font-size:11px;
}
#primary div.pagination a.active, #primary div.pagination a:hover{
    background:#CCC;
}
#primary div.pagination a.button{
    border:0;
    padding:0;
}

#primary div.pagination a img{
    vertical-align: middle;
}
