/* _TABLES */
#primary table{
    clear:both;
}
table *{
    border-color:#BBB;
}

table caption{
    background:none;
    text-align:right;
    font-style:italic;
    font-size:11px;
}

/* _THEAD */

thead tr{
    border:1px solid #F7F7F7;
}
table thead th{
    background:#FBFBFB;
    font-bold;
    color:#222;
    text-align:center;
    padding-left:13px;
}
#primary table thead th a{
    background:#FBFBFB url(../../gr/icons/bullet_arrow_up_down.png) no-repeat left center;
    font-weight:normal;
    color:#222;
    padding-left:17px;
    text-align:left;
    text-decoration:none;
}

#primary table thead th a:hover{
    background-image:url(../../gr/icons/bullet_arrow_up_down_hover.png);
}

/* _TFOOT */
tfoot td{
    border:0;
    font-size:11px;
    padding-top:20px;
}


/* _TBODY */
tbody tr{
    border-top:1px solid #BBB;
}
tbody td{
    color:#5E5E5E;
    padding-left:30px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0;
    border:0;
    line-height:25px;
}
tbody td p{margin:0;padding:0;}
tbody td p input.action{margin-top:8px;}
tbody td.last{border-right:0;}
tbody td+td{
    border-right:1px solid #BBB;
    border-left:1px solid #BBB;
}
tbody td:last{
    border-right:0;
}
thead th.form,tbody td.form{
    text-align:center;
    padding-top:0px;
    padding-left:2px;
    padding-right:2px;
}
