/* _THREE COLUMNS */
#tertiary{
    color:#55585C;
}
#tertiary div.pad{
    padding:10px;
}
#tertiary h3{color:#9A9A9A;}
#tertiary ul,#tertiary ul li{
    margin:0;padding:0;
    list-style:none;
}
#tertiary ul li{
    line-height:20px;
}
#tertiary ul li a{
    background:url(../../gr/body/sprite.png) no-repeat 0 -964px;
    padding-left:20px;
    margin:0;
}
#tertiary ul li a:hover,#tertiary ul li a.active{
    background:url(../../gr/body/sprite.png) no-repeat 0 -989px;
}
