/* _LOGIN PAGE */

/* 
Identified through .login class 
applied to the #doc div which 
holds all items on page
 */
div.login #bd,div.login div.wrapper{
    width:540px;
}
div.login #hd{
    border-bottom:1px solid #FFF;
}
div.login #logo{
    min-height:210px;
    background:#373A3E url(../../gr/body/sprite.png) 0 -676px repeat-x;
    text-align:center;
}

div.login #logo img{
    margin:150px auto 0 auto;
}

div.login #streamer{
    height:44px;
    background:#179DE4 url(../../gr/body/sprite.png) 0px 24px repeat-x;
;
    overflow:visible;
}

div.login #bd{
    background:#FFF url(../../gr/login/h1-bg.png) repeat-x left top;
    border:none;
    color:#7F7F7F;
    margin:0 auto;
    padding:0px;
    border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    -webkit-border-bottom-left-radius:6px;
}

div.login #bd h1{
    color:#000;
    margin-top:0;
    line-height:44px;
    padding-left:40px;
    border-right:1px solid #FFF;
    border-left:1px solid #FFF;
    background:url(../../gr/body/sprite.png) no-repeat 10px -886px;
}

div.login #bd div.pad{
    padding:10px 30px 0px 40px;
}

#login label{
    border-right:1px solid #EAEAEA;
    width:80px;
    line-height:30px;
    float:left;
    vertical-align: middle;
    color:#000;
    font-size:12px;
}
#login input.text,
#login input[type=text],
#login input[type=password] {
    margin:2px 0 0 20px;
    float:left;
    width:350px;
}

#login p{
    clear:both;
    height:30px;
}

#login span.required{
    color:#BA1212;
    font-size:14px;
    font-weight:bold;
    font-style:italic;
}
#login input.checkbox{margin-left:7px;vertical-align:text-bottom;}
#login p.submit{margin-top:20px;}
#login input.submit,
#login input[type=submit] {
    float:right;
    margin-right:7px;
}
#login p.meta{
    margin-top:10px;
    padding-top:10px;
    padding-bottom:0;margin:0;
    border-top:1px solid #B7B7B7;
}



















