html, body {
    background:#333
}

body {
    color:#444;
    font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif;
    line-height: 1.6em;
    margin: 0;
    padding: 0
}

#doc4 {
    background: #FFF;
    padding-bottom: 20px
}

h1, h2, h3, h4, h5, h6, #wurdig-header-img p {
    color: #000;
    font-family: "URW Gothic L","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6em
}

h1 {
    font-size: 197%
}

h2 {
    font-size: 167%
}

h3 {
    font-size: 153.9%
}

h4 {
    font-size: 131%
}

h5 {
    font-size: 123.1%
}

h6 {
    font-size: 100%
}

a:focus,
a:hover {
    color:#CC0000
}

a{
    color:#000;
    text-decoration:underline
}

div.yui-gb, 
#ft {
    clear: both
}

ul ul {
    padding-left: 2em;
    margin: 0
}

/*_LOGO*/
#hd {
    padding: 30px 30px 15px 30px;
    float: left;
    width: 913px;
    position: relative
}

#hd a#skip {
    position: absolute;
    display: block;
    width: 913px;
    left: 30px;
    top: 0;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase
}

#hd a#skip:hover {
    color: #000;
    background: #F6F6F5
}

#hd h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 1.2em
}

#hd h1 a {
    text-decoration: none;
    color: #CC0000
}

#hd h1 a:hover {
    color: #000
}

#hd p {
    margin: 0;
    padding: 0;
    font-size: 93%
}

#hd p.wurdig-tagline {
    font-style: italic
}

/*_HEADER IMG*/
#wurdig-header-img {
    clear: both;
    margin-left: 30px;
    height: 107px;
    width: 913px;
    border-top: dotted 1px #D0D0D0;
    border-bottom: dotted 1px #D0D0D0;
    position: relative
}

#wurdig-header-img p,
#wurdig-header-img h1,
#wurdig-header-img h2,
#wurdig-header-img h3 {
    margin: 0;
    padding: 0 10px;
    background: #000;
    color: #FFF;
    text-transform: lowercase;
    font-size: 116%;
    position: absolute;
    bottom: 5px
}

/*_NAV*/
#wurdig-primary-nav ul {
    position: absolute;
    bottom: 15px;
    right: 30px;
    font-size: 93%;
    margin: 0;
    padding: 0
}

#wurdig-primary-nav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 8px 0 0;
    background: url('../images/sprite.png') no-repeat 0 -329px
}

#wurdig-primary-nav li a {
    margin-left: 8px;
    text-transform: lowercase
}

#wurdig-primary-nav li.wurdig-nav-first {
    background-image: none
}

#wurdig-primary-nav li.wurdig-nav-last {
    padding-right: 0
}

#wurdig-primary-nav li a:hover,
#wurdig-primary-nav li a.wurdig-active {
    text-decoration: underline;
    color: #CC0000
}

/*_PRIMARY_CONTENT*/

#yui-main {
    margin-top: 1em
}

#yui-main .in-main {
    padding: 0 0 0 30px
}

#yui-main h2 {
    text-transform: capitalize;
    margin-bottom: .7em;
}

#yui-main h2:first-child,
#yui-main h2.wurdig-first {
    margin-top: .3em;
    padding-top: 0
}

#yui-main h2.wurdig-entries-tagged {
    margin: 0;
    padding: 0;
    font-size: 85%
}

#yui-main p.wurdig-entry-meta span {
    display: block
}

#yui-main p.wurdig-entry-date {
    color: #999;
    margin-top: -19px;
    font-size: 85%
}

#yui-main p.wurdig-entry-meta {
    margin-bottom: 3em;
    padding: .5em;
    background: #F3F3F3
}

#yui-main ul li ul {
    margin: 15px 0
}

#yui-main div.hTagCloud h4 {
    display: none
}

#yui-main #cse-search-results {
    padding-bottom: 2em
}

#yui-main #cse-search-results iframe {
    width: 100%
}

div.wurdig-entry-content blockquote {
    background: #F3F3F3 url('../images/sprite.png') no-repeat 10px -422px;
    border-left: solid 4px #CCC;
    border-right: solid 1px #CCC;
    margin: 2em
}

div.wurdig-entry-content blockquote p {
    margin: 0;
    padding: 1.5em 1.5em 1.5em 3em;
    border-left: solid 3px #FFF;
    border-right: solid 1px #FFF;
    font-size: 123.1%
}

.wurdig-entry-gallery {
    text-align: center
}

.wurdig-entry-gallery img {
    border: solid 5px #F0F0F0;
    padding: 2px;
    background: #FFF;
    margin-left: 8px
}

.wurdig-entry-gallery a:hover img {
    border: solid 5px #DDD
}

/* Sidebar */

#wurdig-sidebar {
    font-size: 85%;
    margin-top: 2em;
    color: #444
}

#wurdig-sidebar .in-sidebar {
    padding: 0 30px 0 0
}

#wurdig-sidebar h4 {
    font-weight: bold
}

#wurdig-sidebar #cse-search-q {
    width: 163px
}

#wurdig-sidebar #cse-search-box {
    margin-bottom: 1.5em
}

#wurdig-sidebar #wurdig-subscribe {
    padding: .5em;
    margin-bottom: 1em;
    border-top: dotted 1px #D0D0D0;
    border-bottom: dotted 1px #D0D0D0;
    background: #F6F6F5
}

#wurdig-sidebar #wurdig-subscribe h4 {
    display: none
}

#wurdig-sidebar #wurdig-subscribe ul {
    margin: 0;
    padding: 0
}

#wurdig-sidebar #wurdig-subscribe ul li {
    list-style: none;
    margin-left: .5em;
    padding-left: 2em;
    background: url('../images/sprite.png') no-repeat left -199px
}

#wurdig-sidebar #wurdig-subscribe a {
    font-weight: bold;
    text-transform: uppercase;
}

#wurdig-sidebar #wurdig-subscribe a:hover {
    color: #DD6600
}

#wurdig-sidebar h4 {
    margin: 0 0 -6px 0;
    padding: 0
}

#wurdig-sidebar ul {
    border-top: solid 1px #000;
    margin: 0 0 1.5em 0
}

#wurdig-sidebar #wurdig-subscribe ul {
    border-top: none
}

#wurdig-sidebar .wurdig-sidebar-list li {
    border-bottom: solid 1px #D0D0D0;
    padding: .4em 0 .4em 0;
    margin: .4em 0 .4em 0;
    list-style: none
}

#wurdig-sidebar #wurdig-recent-comments li span.lone {
    background: url('../images/sprite.png') no-repeat left -105px
}

#wurdig-sidebar #wurdig-recent-comments li span {
    display: block;
    margin-bottom: .6em;
    padding-left: 22px
}

#wurdig-sidebar #wurdig-twitter-feed li span {
    padding-left: 22px;
    display: block
}

#wurdig-sidebar #wurdig-twitter-feed li span.lone {
    background: url('../images/sprite.png') no-repeat left -61px
}

#wurdig-sidebar #wurdig-twitter-feed h4 a {
    text-decoration: none;
    color: #CC0000
}

#wurdig-sidebar #wurdig-twitter-feed h4 a:hover {
    text-decoration: underline
}

#wurdig-sidebar div.hTagCloud h4 {
    margin-bottom: -7px
}

#wurdig-sidebar div.hTagCloud ul {
    padding-top: 1em
}

/*_COMMENTS*/

#leave-comment {
    border-top: dotted 1px #e0e0e0;
    background: #F6F6F5;
    padding: 1.5em;
    margin-top: 1em;
    float: left;
    width: 600px
}

#leave-comment h4 {
    margin-bottom: 1em
}

#leave-comment .field {
    float: left;
    width: 100%;
    margin-bottom: .5em;
    clear: both
}

#leave-comment .field label {
    float: left;
    width: 100px;
    text-align: right
}

#leave-comment .input {
    float: right;
    width: 488px
}

#leave-comment .input input {
    width: 300px
}

#leave-comment div.description,
#leave-comment div.description-textarea {
    margin: .5em 0 0 113px;
    padding: 5px 0 5px 0;
    font-size: 85%;
    display: block;
    clear: both;
    border-top: solid 1px #E0E0E0
}

#leave-comment div.description {
    width: 290px
}

#leave-comment div.description-textarea {
    width: 450px
}

#leave-comment .input textarea {
    margin: 1px 0 0 0;
    width: 450px;
    height: 250px
}

#leave-comment #create_comment {
    margin-top: 1em;
    width: 150px
}

#leave-comment #comment-styleguide div {
    display: none
}

#leave-comment div.entry {
    padding-left: 1em
}

#leave-comment div.entry h5 {
    margin: 1.2em 0 .3em 0
}

#leave-comment div.entry li {
    color: green
}

#leave-comment p.leave-comment-subscribe {
    clear: both;
    margin: 0 0 0 113px;
    padding-top: 1em
}

#comments {
    border-top: dotted 1px #D0D0D0;
    float: left;
    width: 100%;
    margin: 1em 0 2em 0
}

#comments div.is_author h4 img {
    border-color: #000
}

#comments div.is_author h4 strong {
    color: #CC0000
}

#comments h3 {
    border-bottom: dotted 1px #D0D0D0;
    margin: 0;
    padding: 1em 0 2em 0
}

#comments div {
    float: left;
    width: 100%;
    padding: 1.5em 0 1.5em 0;
    border-bottom: dotted 1px #D0D0D0;
    position: relative
}

#comments h4 {
    float: left;
    width: 150px;
    font-size: 100%;
    text-align: center
}

#comments h4 strong {
    display: block;
    margin-bottom: 4px
}

#comments h4 img {
    border: solid 1px #D0D0D0;
    padding: 2px;
    background: #F9F9F9
}

#comments h4 cite {
    display: block
}

#comments > div > blockquote,
#comments blockquote.bq-parent {
    float: right;
    width: 465px;
    margin: 0;
    padding: 0;
    clear: right
}

#comments > div > blockquote p,
#comments blockquote.bq-parent p {
    margin-bottom: 10px
}


#comments blockquote p.wurdig-comment-posted {
    position: absolute;
    padding-left: 5px;
    background:#FFF;
    top: -10px;
    right: 0;
    font-size: 83%
}

#comments div.comment-admin {
    margin: 0;
    padding: 0;
    float: right;
    width: 487px;
    border: none
}

#comments div.comment-admin ul {
    margin: 0;
    padding: 0;
    float: left;
    border: none;
    position: relative;
    top: -7px;
}

#comments div.comment-admin ul li {
    float: left;
    padding-right: 6px;
    font-size: 77%;
    list-style: none
}

#comments div.comment-admin ul li:first-child {
    background: url('../images/sprite.png') no-repeat right -329px
}

#comments div.comment-admin ul li a {
    color: #CC0000;
    margin-left: 4px;
}

#comments div.comment-admin ul li a:hover {
    color: #000
}

/*_TAG_CLOUD*/

div.hTagCloud ul.popularity li {
    display: inline;
    margin: 0 5px 0 0;
    padding: 0;
    list-style: none
}

div.hTagCloud ul.popularity li span {
    position: absolute;
    left: -999em
}
div.hTagCloud ul.popularity li { font-size: .9em }
div.hTagCloud ul.popularity li.popular { font-size: 1.1em }
div.hTagCloud ul.popularity li.v-popular { font-size: 1.3em }
div.hTagCloud ul.popularity li.vv-popular { font-size: 1.6em }
div.hTagCloud ul.popularity li.vvv-popular { font-size: 2em }
div.hTagCloud ul.popularity li.vvvv-popular { font-size: 2.5em }
#primary-content div.hTagCloud ul.popularity li { font-size: 1.1em }
#primary-content div.hTagCloud ul.popularity li.popular { font-size: 1.3em }
#primary-content div.hTagCloud ul.popularity li.v-popular { font-size: 1.8em }
#primary-content div.hTagCloud ul.popularity li.vv-popular { font-size: 2em }
#primary-content div.hTagCloud ul.popularity li.vvv-popular { font-size: 2.5em }
#primary-content div.hTagCloud ul.popularity li.vvvv-popular { font-size: 3em }

/*_SECONDARY_CONTENT*/
#wurdig-secondary-content {
    border-top: dotted .1em #D0D0D0;
    background-color: #EAEAEA;
    margin-top: 1em;
    padding: 2em 0 2em 0;
    float: left;
    width: 100%;
    font-size: 93%;
    color: #444
}

#wurdig-secondary-content div.wurdig-secondary-list ul {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    border-top: solid 1px #CCC
}

#wurdig-secondary-content div.wurdig-secondary-list ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: solid 1px #CCC
}

#wurdig-secondary-content div.wurdig-secondary-list ul li a {
    display: block;
    padding: .5em
}

#wurdig-secondary-content div.wurdig-secondary-list ul li a:hover {
    background: #F6F6F5
}

#wurdig-secondary-content #wurdig-delicious-feed {
    padding-left: 2em
}

#wurdig-secondary-content #wurdig-delicious-feed h4 {
    padding-left: 24px;
    background: url('../images/sprite.png') no-repeat left -152px
}

#wurdig-secondary-content #wurdig-blogroll {
    padding-right: 2em
}

#wurdig-secondary-content #wurdig-flickr-feed h4 {
    padding-left: 24px;
    background: url('../images/sprite.png') no-repeat left -288px
}

#wurdig-secondary-content #wurdig-flickr-feed ul li {
    list-style: none;
    float: left;
    margin: 0 5px 0 0;
    padding: 0
}

#wurdig-secondary-content #wurdig-flickr-feed ul li img {
    background: #FFF;
    border: 4px solid #D0D0D0;
    padding: 1px
}

#wurdig-secondary-content #wurdig-flickr-feed ul li a:hover img {
    border: 4px solid #FFF
}

#wurdig-secondary-content #wurdig-blogroll h4 {
    padding-left: 24px;
    background: url('../images/sprite.png') no-repeat left -242px
}

/*_FOOTER*/
#ft {
    border-top: dotted .1em #D0D0D0;
    font-size: 93%;
    clear: both;
    float: left;
    width: 100%;
    padding: 2em 0 2em 0;
    background-color: #FFF
}

#ft ul {
    text-align: right;
    margin: 0 20px 3px 0;
    padding: 0;
    float: right
}

#ft li {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 6px;
    background: url('../images/sprite.png') no-repeat 0 -329px
}

#ft li.wurdig-nav-first {
    background-image: none
}

#ft li.feed a {
    padding-left: 20px;
    background: url('../images/sprite.png') no-repeat left -201px
}

#ft li a {
    margin-right: 6px
}

#ft li img {
    margin-bottom: -3px
}

#ft li.wurdig-nav-last a {
    margin-right: 0
}

#ft p {
    clear: both;
    text-align: right;
    margin: 0 20px 0 0;
    padding: 0
}

/*_DEFAULTS*/
strong{font-weight:bold}dfn{font-style:italic;font-weight:bold}sup,sub{line-height:0}
del{color:#666}pre,code{margin:1.5em 0;white-space:pre}
table{margin-bottom:1.4em;width:100%}th{font-weight:bold;background:#C3D9FF}th,td{padding:4px 10px 4px 5px}tr.even td{background:#E5ECF9}tfoot{font-style:italic}caption{background:#eee}
label{font-weight:bold}fieldset{padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc}legend{font-weight:bold;font-size:1.2em}input.text,input.title,textarea,select{margin:0.5em 0;border:1px solid #bbb}
input.text:focus,input.title:focus,textarea:focus,select:focus{border:1px solid #666}
input.text,input.title{width:300px;padding:5px}input.title{font-size:1.5em}textarea{width:390px;height:250px;padding:5px}div.pad{padding:0px;}

/*_CUSTOM*/
p img.left {
    float:left;
    margin:1.5em 1.5em 1.5em 0;
}
    
p img.right {
    float:right;
    margin:1.5em 0 1.5em 1.5em
}
.clear{clear:both;}
.error-message {color: red;font-size: 85%}
.flash {clear: both; color: green; margin: .5em; padding: .5em; border: solid 1px green}
.small {font-size:85%;margin-bottom:1.875em}
.large {font-size:116%;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0; border:0;}
.in {padding: 1em}

/**
 * Utils
 */
.js {
    display: none
}
div.succ,
div.err {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20000;
    color:#FFF;
    font-weight: bold
}
div.succ p.message {
    background:green;
    padding:.8em
}
div.err p.message {
    background: red;
    padding:.8em
}
