body {
    color:#444;
    background:#FFF;
    font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif;
    line-height: 1.5em
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "URW Gothic L","MgOpen Moderna","Lucida Sans",arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6em
}

h1 {
    font-size: 197%
}

h2 {
    font-size: 167%
}

h3 {
    font-size: 153.9%
}

h4 {
    font-size: 131%
}

h5 {
    font-size: 123.1%
}

h6 {
    font-size: 100%
}

a:focus,
a:hover {
    color:#CC0000
}

a{
    color:#000;
    text-decoration:underline
}

blockquote {
    background: #F3F3F3;
    margin-bottom: 20px;
    border-left: solid 4px #CCC;
    border-right: solid 1px #CCC
}

blockquote p {
    margin: 0;
    padding: 10px 10px 10px 30px;
    border-left: solid 3px #FFF;
    border-right: solid 1px #FFF;
    /* @todo: add background quote image */
}

div.yui-gb, 
#ft {
    clear: both
}

/*_LOGO*/
#hd {
    border-bottom: dotted .1em #D0D0D0;
    padding: 1em 0 1em 0;
    float: left;
    width: 100%;
    position: relative
}

#hd h1 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    line-height: 1.2em
}

#hd h1 a {
    text-decoration: none;
    color: #CC0000
}

#hd h1 a:hover {
    color: #000
}

#hd p {
    margin: 0;
    padding: 0
}

#hd p.wurdig-search,
#hd p.wurdig-subscribe {
    display: none
}

/*_NAV*/
#wurdig-primary-nav ul {
    position: absolute;
    bottom: 0;
    right: 0
}

#wurdig-primary-nav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 6px;
    background: url('../images/bg/wurdig-nav-divider.gif') no-repeat left 8px
}

#wurdig-primary-nav li a {
    display: block;
    padding: 0 6px 0 6px;
    margin-left: 7px;
    border: solid 1px transparent;
}

#wurdig-primary-nav li.wurdig-nav-first {
    background-image: none
}

#wurdig-primary-nav li.wurdig-nav-last {
    padding-right: 0
}

#wurdig-primary-nav li a:hover,
#wurdig-primary-nav li a.wurdig-active {
    background: #F8F8F8;
    border: solid 1px #D8D8D8;
    color: #CC0000
}

/*_PRIMARY_CONTENT*/

#yui-main {
    margin-top: 1em
}

#yui-main h2:first-child,
#yui-main h2.wurdig-first {
    margin-top: .3em;
    padding-top: 0
}

#yui-main p.wurdig-entries-tagged {
    margin: 0;
    padding: 0;
    font-size: 85%
}

#yui-main p.wurdig-entry-meta span {
    display: block
}

#yui-main p.wurdig-entry-date {
    color: #999;
    margin-top: -19px
}

body.home #yui-main p.wurdig-entry-meta {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: dotted .1em #D0D0D0;
}

#yui-main ul li ul {
    margin: 15px 0
}

#yui-main div.hTagCloud h4 {
    display: none
}

/* Sidebar */

#wurdig-sidebar {
    font-size: 93%;
    margin-top: 2em
}

/*_TAG_CLOUD*/

div.hTagCloud ul.popularity li {
    display: inline;
    margin: 0 5px 0 0;
    padding: 0;
    list-style: none
}

div.hTagCloud ul.popularity li span {
    position: absolute;
    left: -999em
}
div.hTagCloud ul.popularity li { font-size: .9em }
div.hTagCloud ul.popularity li.popular { font-size: 1.1em }
div.hTagCloud ul.popularity li.v-popular { font-size: 1.3em }
div.hTagCloud ul.popularity li.vv-popular { font-size: 1.6em }
div.hTagCloud ul.popularity li.vvv-popular { font-size: 2em }
div.hTagCloud ul.popularity li.vvvv-popular { font-size: 2.5em }
#primary-content div.hTagCloud ul.popularity li { font-size: 1.1em }
#primary-content div.hTagCloud ul.popularity li.popular { font-size: 1.3em }
#primary-content div.hTagCloud ul.popularity li.v-popular { font-size: 1.8em }
#primary-content div.hTagCloud ul.popularity li.vv-popular { font-size: 2em }
#primary-content div.hTagCloud ul.popularity li.vvv-popular { font-size: 2.5em }
#primary-content div.hTagCloud ul.popularity li.vvvv-popular { font-size: 3em }

/*_SECONDARY_CONTENT*/
#wurdig-secondary-content {
    border-top: dotted .1em #D0D0D0;
    background-color: #F0F0F0;
    margin-top: 1em;
    padding: 2em 0 2em 0;
    float: left;
    width: 100%;
    font-size: 93%
}

#wurdig-secondary-content #wurdig-delicious-feed {
    padding-left: 2em
}

#wurdig-secondary-content #wurdig-blogroll {
    padding-right: 2em
}

#wurdig-secondary-content #wurdig-flickr-feed ul li {
    list-style: none;
    float: left;
    margin: 0 5px 0 0;
    padding: 0
}

#wurdig-secondary-content #wurdig-flickr-feed ul li img {
    background: #FFF;
    border: 2px solid #D0D0D0;
    padding: 3px
}

#wurdig-secondary-content #wurdig-flickr-feed ul li a:hover img {
    border: 2px solid #000
}

/*_FOOTER*/
#ft {
    border-top: dotted .1em #D0D0D0;
    font-size: 93%;
    clear: both;
    float: left;
    width: 100%;
    padding: 2em 0 2em 0
}

#ft p {
    padding: .5em .5em 0 .5em
}

/*_DEFAULTS*/
strong{font-weight:bold}dfn{font-style:italic;font-weight:bold}sup,sub{line-height:0}abbr,acronym{border-bottom:1px dotted #666}address{margin:0 0 1.5em;font-style:italic}
del{color:#666}pre,code{margin:1.5em 0;white-space:pre}
table{margin-bottom:1.4em;width:100%}th{font-weight:bold;background:#C3D9FF}th,td{padding:4px 10px 4px 5px}tr.even td{background:#E5ECF9}tfoot{font-style:italic}caption{background:#eee}
label{font-weight:bold}fieldset{padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc}legend{font-weight:bold;font-size:1.2em}input.text,input.title,textarea,select{margin:0.5em 0;border:1px solid #bbb}
input.text:focus,input.title:focus,textarea:focus,select:focus{border:1px solid #666}
input.text,input.title{width:300px;padding:5px}input.title{font-size:1.5em}textarea{width:390px;height:250px;padding:5px}div.pad{padding:0px;}

/*_CUSTOM*/
p img.left {
    float:left;
    margin:1.5em 1.5em 1.5em 0;
}
    
p img.right {
    float:right;
    margin:1.5em 0 1.5em 1.5em
}
.clear{clear:both;}
.error, .flash, .success, .highlight{padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.flash {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.flash a {color:#514721;}
.success a {color:#264409;}
.small {font-size:85%;margin-bottom:1.875em}
.large {font-size:116%;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0; border:0;}
