<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>
<%namespace file="fields.html" name="fields" import="*"/>
<%namespace file="/component/admin.html" name="admin" import="*"/>

<%def name="title()">
    ${_('Edit Setting')}
</%def>

<%def name="js()">
    ${admin.tooltip()}
</%def>

<p class="submenu action">
    ${h.link_to(
        h.literal('<span class="ui-icon ui-icon-cancel"></span>'),
        h.url_for(controller='setting', action='list'), 
        class_='ui-state-default ui-corner-all', 
        title=_('Cancel')
    )}
</p>

${h.form(h.url_for(controller='setting', action='save', id=request.urlvars['id']), method='post')}
    ${fields.body()}
    ${h.submit('edit', _('Edit Setting'))} or
    ${h.link_to(_('Cancel'), h.url_for(controller='setting', action='list'))}
${h.end_form()}