<%
    from pylons.i18n.translation import _
%>
<table class="form">
    <thead>
        <tr>
            <th colspan="2">${_('Setting Value')}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td class="notice"><strong>${c.setting.key}</strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <p class="field">
                    <label for="value">${_('Value')}</label>
                    ${h.textarea('value', class_='text')}
                </p>
            </td>
        </tr>
    </tbody>
</table>
