<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>

<%def name="title()">
    ${_('Settings List')}
</%def>

% if len(c.paginator):
    <p>${ c.paginator.pager('$link_first $link_previous $first_item %s $last_item %s $item_count $link_next $link_last' % (_('to'), _('of')))}</p>
    
    <table class="paginator">
        <thead>
            <tr>
                <th>${_('Setting')}</th>
                <th>${_('Value')}</th>
                <th>${_('Action')}</th>
            </tr>
        </thead>
        <tbody>
            % for setting in c.paginator:
                <tr class="${setting.id}">
                    <td>
                        ${setting.description}
                    </td>
                    <td>
                        ${h.literal(setting.value)}
                    </td>
                    <td>
                        ${h.link_to(
                            _('Edit'),
                            h.url_for(controller='setting', action='edit', id=unicode(setting.id))
                        )}
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>
    
    <p>${ c.paginator.pager('~2~') }</p>
% endif
