<%inherit file="/base/master.html"/>

<%def name="title()">
    ${parent.title()} &gt; Delete Confirmation
</%def>

<h2>Delete Page</h2>

<p>Are you sure you want to delete the page titled <strong>${c.page.title}</strong></p>

${h.form(h.url_for(controller='page', action='delete'), method='post')}
    ${h.hidden('id', value=c.page.id)}
    ${h.submit('edit', 'Yes, Delete Page')}  or
        <a href="${h.url_for(controller='page', 
                      action='list')}">Cancel</a>
${h.end_form()}