<%
    from pylons.i18n.translation import _
%>
<table class="form">
    <thead>
        <tr>
            <th colspan="2">${_('Page Information')}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="title">${_('Title')}</label>
                    ${h.text('title', class_='text')}
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="slug">${_('Slug')}</label>
                    ${h.text('slug', class_='text')}
                </p>
            </td>
        </tr>
        <tr>
            <td><span class="required">!</span></td>
            <td>
                <p class="field required">
                    <label for="content">${_('Content')}</label>
                    ${h.textarea('content', cols=25, rows=10, class_='text')}
                </p>
            </td>
        </tr>
    </tbody>
</table>
