<%inherit file="/base/admin.html"/>

<%def name="heading()"><h1>Page List</h1></%def>

% if len(c.paginator):
    <p>${ c.paginator.pager('$link_first $link_previous $first_item to $last_item of $item_count $link_next $link_last') }</p>
    
    <table class="paginator"><tr><th>Page ID</th><th>Page Title</th><th>Created</th></tr>
    % for item in c.paginator:
        <tr>
            <td>
                ${h.link_to(
                    page.id,
                    h.url_for('page', id=page.id)
                )}
            </td>
            <td valign="top">
                ${page.title}
            </td>
            <td valign="top">${page.created_on.strftime('%c')}</td>
        </tr>
    % endfor
    </table>
    
    <p>${ c.paginator.pager('~2~') }</p>
% endif
