<%
    from pylons.i18n.translation import _
%>
<%inherit file="/base/admin.html"/>

<%def name="heading()">
    ${_('Page List')}
</%def>

% if len(c.paginator):
    <p>${ c.paginator.pager('$link_first $link_previous $first_item %s $last_item %s $item_count $link_next $link_last' % (_('to'), _('of')))}</p>
    
    <table class="paginator">
        <thead>
            <tr>
                <th>${_('Page Title')}</th>
                <th>${_('Action')}</th>
            </tr>
        </thead>
        <tbody>
            % for page in c.paginator:
                <tr class="${page.id}">
                    <td>
                        ${h.link_to(
                            h.truncate(page.title),
                            h.url_for(controller='page', 
                                  action='view', 
                                  slug=unicode(page.slug))
                        )}
                    </td>
                    <td>
                        ${h.link_to(
                            _('Edit'),
                            h.url_for(controller='page', action='edit', id=unicode(page.id))
                        )} | 
                        ${h.link_to(
                            _('Delete'),
                            h.url_for(controller='page', action='delete_confirm', id=unicode(page.id))
                        )}
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>

    <p>${ c.paginator.pager('~2~') }</p>
% endif
