<%inherit file="/base/master.html"/>

<%def name="title()">
    ${parent.title()} &gt; ${c.page.title}
</%def>

<%def name="content_header()">
    <p>Now Viewing</p>
</%def>

<%def name="page_view(page)">
    <h2>${page.title}</h2>
    ${h.literal(page.content)}
</%def>

<div class="wurdig-entry">
    ${page_view(c.page)}
    % if h.auth.authorized(h.auth.is_valid_user):
        <p>
            ${h.link_to(
                'Edit This Page',
                h.url_for(controller='page', action='edit', id=unicode(c.page.id))
            )}
        </p>
    % endif
</div>